# Data Understanding

De zip bestand bestaat in totaal uit 42 kolommen en 13689 rijen aan data.

 - `BU_CODE`          = Buurtcode
 - `JRSTATCODE`       = Jaar van de buurt gegegevens + buurtcode
 - `BU_NAAM`          = Buurtnaam van desbetreffende buurt
 - `WK_CODE`          = Wijkcode die is toegekend aan een wijk  
 - `WK_NAAM`          = Wijknaam die is toegekend aan een wijk
 - `GM_CODE`          = Gemeentecode die is toegekend aan een gemeente
 - `GM_NAAM`          = Gemeentenaam die is toegekend aan een gemeente
 - `IND_WBI`          = Indelingswijziging wijken en buurten; Deze indicator geeft per wijk en buurt aan of de cijfers uit deze tabel zonder problemen kunnen worden gekoppeld aan en vergeleken met de cijfers van een jaar eerder, of dat er wijzigingen in de Wijk- en Buurtindeling zijn waardoor dit niet kan. 
 - `WATER`            = Een onderverdeling tussen land en grotere wateroppervlakten overeenkomend met het Bestand Bodemgebruik van het CBS. 
 - `POSTCODE`         = Postcode van de wijk
 - `DEK_PERC`         = Dekkingspercentage van omgeving
 - `OAD`              = Omgevingsadressendichtheid; Het gemiddeld aantal adressen van een buurt, wijk of gemeente per vierkante kilometer binnen een cirkel met een straal van één kilometer op 1 januari van het betreffende jaar.
 - `STED`             = Stedelijkheid; Op grond van de omgevingsadressendichtheid is aan iedere buurt, wijk of gemeente een stedelijkheidsklasse toegekend.                       
 De volgende klassenindeling is gehanteerd:
                       -  1. zeer sterk stedelijk ≥ 2 500 adressen per km2;
                       -  2. sterk stedelijk 1 500–2 500 adressen per km2;
                       -  3. matig stedelijk 1 000–1 500 adressen per km2;
                       -  4. weinig stedelijk 500–1 000 adressen per km2;
                       -  5. niet stedelijk < 500 adressen per km2.
 - `BEV_DICHTH`       = Bevolkingsdichtheid in desbetreffende wijk
 - `AANT_INW`         = Aantal inwoners in desbetreffende wijk
 - `AANT_MAN`         = Aantal mannen in desbetreffende wijk
 - `AANT_VROUW`       = Aantal vrouwen in desbetreffende wijk
 - `P_00_14_JR`       = Percentage inwoners van 0 t/m 14 jaar
 - `P_15_24_JR`       = Percentage inwoners van 15 t/m 24 jaar
 - `P_25_44_JR`       = Percentage inwoners van 25 t/m 64 jaar
 - `P_45_64_JR`       = Percentage inwoners van 45 t/m 64 jaar
 - `P_65_EO_JR`       = Percentage inwoners van 65 jaar en ouder
 - `P_ONGEHUWD`       = Percentage inwoners die ongehuwd is
 - `P_GEHUWD`         = Percentage inwoners die gehuwd is
 - `P_GESCHEID`       = Percentage inwoners die gescheiden is
 - `P_VERWEDUW`       = Percentage inwoners die verweduwed is
 - `AANTAL_HH`        = Het aantal particuliere huishoudens op 1 januari.
 - `P_EENP_HH`        = Eenpersoonshuishoudens; Het aantal huishoudens met één persoon, uitgedrukt in hele procenten van het totaal aantal particuliere huishoudens.
 - `P_HH_Z_K`         = Huishoudens zonder kinderen; Het aantal meerpersoonshuishoudens zonder kinderen uitgedrukt in hele procenten van het totaal aantal particuliere huishoudens
 - `P_HH_M_K`         = Huishoudens met kinderen; Het aantal meerpersoonshuishoudens met kinderen uitgedrukt in hele procenten van het totaal aantal particuliere huishoudens.
 - `GEM_HH_GR`        = Gemiddelde huishoudensgrootte;
Het aantal in particuliere huishoudens levende personen gedeeld door het aantal particuliere huishoudens. 

 - `P_WEST_AL`        = Westers totaal; Het aantal allochtonen met een westerse herkomst op 1 januari, uitgedrukt in hele procenten van het aantal inwoners. 
 - `P_N_W_AL`         = Niet-westers totaal; Het aantal allochtonen met een niet-westerse herkomst op 1 januari, uitgedrukt in hele procenten van het aantal inwoners. 
 - `P_MAROKKO`        = Marokko totaal uitgedrukt in procenten
 - `P_ANT_ARU`        = Nederlandse Antillen en Aruba; Het aandeel allochtonen met herkomstgroep van (voormalige) Nederlandse Antillen en Aruba op 1 januari, uitgedrukt in hele procenten van het aantal inwoners.
 - `P_SURINAM`        = Surinamers uitgedrukt in procenten
 - `P_TURKIJE`        = Turken uitgedrukt in procenten
 - `P_OVER_NW`        = Overig niet-westers; Het aandeel allochtonen met een overige niet-westerse herkomst op 1 januari, uitgedrukt in hele procenten van het aantal inwoners.
 - `OPP_TOT`          = Totale oppervlakte in ha
 - `OPP_LAND`         = Oppervlakte land in ha
 - `OPP_WATER`        = Oppervlakte water in ha
 - `geometry`         = afmetingen op aarde van desbetreffende omgeving


 -99999999 staat voor nullwaardes

## Beschrijven van de data

Hieronder wordt de data beschreven. Dit wordt telkens door een stukje code gedaan, met comments erbij.

In [83]:
#importeren van de benodigde packages
import pandas as pd
import geopandas as gpd

In [84]:
#laden van de dataset
zipfile = "zip://../../../raw-data/wijkenbuurten2019.zip"
print(f"Loading {zipfile}...")
data_demografie = gpd.read_file(zipfile)
print(f"Loaded {zipfile}")

Loading zip://../../../raw-data/wijkenbuurten2019.zip...
Loaded zip://../../../raw-data/wijkenbuurten2019.zip

In [85]:
#dataverkennen door dataframe te openen
data_demografie

,BU_CODE,JRSTATCODE,BU_NAAM,WK_CODE,WK_NAAM,GM_CODE,GM_NAAM,IND_WBI,WATER,POSTCODE,...,P_N_W_AL,P_MAROKKO,P_ANT_ARU,P_SURINAM,P_TURKIJE,P_OVER_NW,OPP_TOT,OPP_LAND,OPP_WATER,geometry
0,BU00030000,2019BU00030000,Appingedam-Centrum,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9901,...,4,0,1,0,0,2,90,84,5,"POLYGON ((252643.203 594343.688, 252674.500 59..."
1,BU00030001,2019BU00030001,Appingedam-West,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9903,...,4,0,1,0,1,2,163,158,5,"POLYGON ((251260.496 594393.830, 251261.415 59..."
2,BU00030002,2019BU00030002,Appingedam-Oost,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9902,...,11,1,1,1,4,4,295,284,11,"POLYGON ((254580.674 594573.506, 254580.774 59..."
3,BU00030007,2019BU00030007,Verspreide huizen Damsterdiep en Eemskanaal,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9903,...,2,-99999999,-99999999,-99999999,-99999999,-99999999,559,540,18,"POLYGON ((249539.950 593217.579, 249669.500 59..."
4,BU00030008,2019BU00030008,Verspreide huizen ten zuiden van Eemskanaal,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9902,...,1,-99999999,-99999999,-99999999,-99999999,-99999999,582,554,28,"POLYGON ((254809.060 592703.148, 254809.461 59..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13684,BU19669997,2019BU19669997,Groot binnenwater,WK196699,Groot water,GM1966,Het Hogeland,-99999999,JA,None,...,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,"MULTIPOLYGON (((211698.493 598454.762, 211702...."
13685,BU19669998,2019BU19669998,Buitenwater,WK196699,Groot water,GM1966,Het Hogeland,-99999999,JA,None,...,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,"POLYGON ((219000.000 617500.000, 224000.000 62..."
13686,BU19699997,2019BU19699997,Groot binnenwater,WK196999,Groot water,GM1969,Westerkwartier,-99999999,JA,None,...,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,"MULTIPOLYGON (((215284.173 595049.928, 215280...."
13687,BU19709997,2019BU19709997,Groot binnenwater,WK197099,Groot water,GM1970,Noardeast-FryslÃ¢n,-99999999,JA,None,...,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,"POLYGON ((207707.215 603347.328, 207726.405 60..."
13688,BU19709998,2019BU19709998,Buitenwater,WK197099,Groot water,GM1970,Noardeast-FryslÃ¢n,-99999999,JA,None,...,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,-99999999,"MULTIPOLYGON (((201767.157 602623.271, 201763...."

In [86]:
# Info over de kolommen in perceelprijzen
info_kolommen = data_demografie.info()
info_kolommen

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13689 entries, 0 to 13688
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BU_CODE     13689 non-null  object
 1   JRSTATCODE  13689 non-null  object
 2   BU_NAAM     13689 non-null  object
 3   WK_CODE     13689 non-null  object
 4   WK_NAAM     13689 non-null  object
 5   GM_CODE     13689 non-null  object
 6   GM_NAAM     13689 non-null  object
 7   IND_WBI     13689 non-null  int64
 8   WATER       13689 non-null  object
 9   POSTCODE    13594 non-null  object
 10  DEK_PERC    13689 non-null  int64
 11  OAD         13689 non-null  int64
 12  STED        13689 non-null  int64
 13  BEV_DICHTH  13689 non-null  int64
 14  AANT_INW    13689 non-null  int64
 15  AANT_MAN    13689 non-null  int64
 16  AANT_VROUW  13689 non-null  int64
 17  P_00_14_JR  13689 non-null  int64
 18  P_15_24_JR  13689 non-null  int64
 19  P_25_44_JR  13689 non-null  int64
 20  P_45_64_JR  13689 non-null  int64
 21  P_65_EO_JR  13689 non-null  int64
 22  P_ONGEHUWD  13689 non-null  int64
 23  P_GEHUWD    13689 non-null  int64
 24  P_GESCHEID  13689 non-null  int64
 25  P_VERWEDUW  13689 non-null  int64
 26  AANTAL_HH   13689 non-null  int64
 27  P_EENP_HH   13689 non-null  int64
 28  P_HH_Z_K    13689 non-null  int64
 29  P_HH_M_K    13689 non-null  int64
 30  GEM_HH_GR   13689 non-null  float64
 31  P_WEST_AL   13689 non-null  int64
 32  P_N_W_AL    13689 non-null  int64
 33  P_MAROKKO   13689 non-null  int64
 34  P_ANT_ARU   13689 non-null  int64
 35  P_SURINAM   13689 non-null  int64
 36  P_TURKIJE   13689 non-null  int64
 37  P_OVER_NW   13689 non-null  int64
 38  OPP_TOT     13689 non-null  int64
 39  OPP_LAND    13689 non-null  int64
 40  OPP_WATER   13689 non-null  int64
 41  geometry    13689 non-null  geometry
dtypes: float64(1), geometry(1), int64(31), object(9)
memory usage: 4.4+ MB

In [87]:
# Beschrijvende statistieken van de data
beschrijvende_stats = data_demografie.describe()
beschrijvende_stats

,IND_WBI,DEK_PERC,OAD,STED,BEV_DICHTH,AANT_INW,AANT_MAN,AANT_VROUW,P_00_14_JR,P_15_24_JR,...,P_WEST_AL,P_N_W_AL,P_MAROKKO,P_ANT_ARU,P_SURINAM,P_TURKIJE,P_OVER_NW,OPP_TOT,OPP_LAND,OPP_WATER
count,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,...,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04,1.368900e+04
mean,-6.939867e+05,-1.234567e+06,-1.167651e+06,-1.154208e+06,-5.329823e+06,-6.927261e+05,-6.933617e+05,-6.933529e+05,-1.110379e+07,-1.110379e+07,...,-1.110380e+07,-1.110380e+07,-3.842501e+07,-3.842501e+07,-3.842501e+07,-3.842501e+07,-3.842501e+07,-6.937316e+05,-6.937419e+05,-6.939776e+05
std,8.301940e+06,1.104271e+07,1.074836e+07,1.068163e+07,2.247009e+07,8.302045e+06,8.301992e+06,8.301993e+06,3.141908e+07,3.141908e+07,...,3.141908e+07,3.141908e+07,4.864353e+07,4.864352e+07,4.864353e+07,4.864353e+07,4.864353e+07,8.301961e+06,8.301960e+06,8.301940e+06
min,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,...,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08
25%,1.000000e+00,1.000000e+00,1.460000e+02,2.000000e+00,6.200000e+01,1.700000e+02,9.000000e+01,8.000000e+01,1.100000e+01,9.000000e+00,...,4.000000e+00,1.000000e+00,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,2.700000e+01,2.600000e+01,0.000000e+00
50%,1.000000e+00,1.000000e+00,6.850000e+02,4.000000e+00,1.406000e+03,6.700000e+02,3.350000e+02,3.300000e+02,1.400000e+01,1.100000e+01,...,7.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,6.100000e+01,5.900000e+01,1.000000e+00
75%,1.000000e+00,1.000000e+00,1.682000e+03,5.000000e+00,4.684000e+03,1.715000e+03,8.500000e+02,8.700000e+02,1.700000e+01,1.400000e+01,...,1.100000e+01,9.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00,2.180000e+02,2.080000e+02,5.000000e+00
max,3.000000e+00,6.000000e+00,1.241700e+04,5.000000e+00,5.422000e+04,2.875000e+04,1.356500e+04,1.518500e+04,4.900000e+01,9.600000e+01,...,8.500000e+01,9.900000e+01,4.200000e+01,1.700000e+01,4.600000e+01,4.600000e+01,9.800000e+01,1.301500e+04,1.281300e+04,2.411000e+03

In [90]:
# Informatie over de kolomnamen in de Dataframe
data_demografie.columns

Index(['BU_CODE', 'JRSTATCODE', 'BU_NAAM', 'WK_CODE', 'WK_NAAM', 'GM_CODE',
       'GM_NAAM', 'IND_WBI', 'WATER', 'POSTCODE', 'DEK_PERC', 'OAD', 'STED',
       'BEV_DICHTH', 'AANT_INW', 'AANT_MAN', 'AANT_VROUW', 'P_00_14_JR',
       'P_15_24_JR', 'P_25_44_JR', 'P_45_64_JR', 'P_65_EO_JR', 'P_ONGEHUWD',
       'P_GEHUWD', 'P_GESCHEID', 'P_VERWEDUW', 'AANTAL_HH', 'P_EENP_HH',
       'P_HH_Z_K', 'P_HH_M_K', 'GEM_HH_GR', 'P_WEST_AL', 'P_N_W_AL',
       'P_MAROKKO', 'P_ANT_ARU', 'P_SURINAM', 'P_TURKIJE', 'P_OVER_NW',
       'OPP_TOT', 'OPP_LAND', 'OPP_WATER', 'geometry'],
      dtype='object')

In [91]:
# Controleren op nulwaarden in de dataframe
data_demografie.isna().sum()

BU_CODE        0
JRSTATCODE     0
BU_NAAM        0
WK_CODE        0
WK_NAAM        0
GM_CODE        0
GM_NAAM        0
IND_WBI        0
WATER          0
POSTCODE      95
DEK_PERC       0
OAD            0
STED           0
BEV_DICHTH     0
AANT_INW       0
AANT_MAN       0
AANT_VROUW     0
P_00_14_JR     0
P_15_24_JR     0
P_25_44_JR     0
P_45_64_JR     0
P_65_EO_JR     0
P_ONGEHUWD     0
P_GEHUWD       0
P_GESCHEID     0
P_VERWEDUW     0
AANTAL_HH      0
P_EENP_HH      0
P_HH_Z_K       0
P_HH_M_K       0
GEM_HH_GR      0
P_WEST_AL      0
P_N_W_AL       0
P_MAROKKO      0
P_ANT_ARU      0
P_SURINAM      0
P_TURKIJE      0
P_OVER_NW      0
OPP_TOT        0
OPP_LAND       0
OPP_WATER      0
geometry       0
dtype: int64

## Data Exploratie
In dit gedeelte worden een aantal plotjes getoont over de data. Ook wordt er gekeken naar de kwaliteit van de data.