# Data understanding

Het CSV-bestand bestaat uit een viertal kolommen, elk met eigen attributten.
 - `Perdioden` is het jaartal waarin de gemiddelde huisprijs is gemeten.
 - `Regio's` is de regio waar de gegevens van de gemiddelde huisprijs bekent zijn.
 - `Gemiddelde verkoopprijs (euro)` is de hoogte van de gemiddelde huisprijs in een bepaalde regio en bepaalde periode.

## Beschrijven van de data

Hieronder wordt de data beschreven. Dit wordt telkens door een stukje code gedaan, met comments erbij.

In [1]:
# Importeren van de benodigde packages.
import pandas as pd
import geopandas as gpd

In [2]:
# Importeren van de dataset en in een bestand zetten.
file = "../../../raw-data/Bestaande_koopwoningen__prijzen__regio_14042020_114827.csv"
perceelprijzen = pd.read_csv(file, sep=";")
perceelprijzen

     Perioden Regio's  Gemiddelde verkoopprijs (euro)
0        1995  Arnhem                           80240
1        2000  Arnhem                          149386
2        2005  Arnhem                          188779
3        2010  Arnhem                          204498
4        2011  Arnhem                          212747
..        ...     ...                             ...
151      2015  Zwolle                          218349
152      2016  Zwolle                          228479
153      2017  Zwolle                          245803
154      2018  Zwolle                          279684
155      2019  Zwolle                          293098

[156 rows x 3 columns]

In [3]:
# Beschrijvende statistieken van de data
beschrijvende_perceelprijzen = perceelprijzen.describe()
beschrijvende_perceelprijzen

          Perioden  Gemiddelde verkoopprijs (euro)
count   156.000000                      156.000000
mean   2011.153846                   207055.916667
std       6.915298                    62585.033309
min    1995.000000                    56599.000000
25%    2010.000000                   173257.000000
50%    2013.000000                   210899.000000
75%    2016.000000                   243404.500000
max    2019.000000                   417583.000000

In [4]:
# Beschrijvende statistieken per regio
beschrijvende_periode_perceelprijzen = perceelprijzen.groupby(["Perioden"]).describe()
beschrijvende_periode_perceelprijzen

         Gemiddelde verkoopprijs (euro)                               \
                                  count           mean           std
Perioden
1995                               12.0   80621.666667  12518.380576
2000                               12.0  141246.000000  28655.392226
2005                               12.0  196732.166667  29852.685741
2010                               12.0  215694.666667  32937.637039
2011                               12.0  215126.083333  34843.619918
2012                               12.0  205850.500000  32289.629907
2013                               12.0  196763.000000  29721.601728
2014                               12.0  202427.416667  30101.460996
2015                               12.0  210905.333333  34309.736416
2016                               12.0  222474.916667  38520.046182
2017                               12.0  242403.000000  46520.312277
2018                               12.0  270078.666667  57133.430607
2019                               12.0  291403.500000  61624.216429


               min        25%       50%        75%       max
Perioden
1995       56599.0   74773.00   81706.0   86210.00  100092.0
2000       95702.0  122954.25  142377.0  162863.50  191688.0
2005      143596.0  172984.50  200842.0  215423.00  246806.0
2010      162912.0  191732.75  214542.5  233728.00  267413.0
2011      164585.0  182838.00  216817.0  234513.50  265863.0
2012      154669.0  180309.00  208274.5  222828.25  252145.0
2013      143835.0  170532.50  206067.0  217421.75  234272.0
2014      154238.0  174557.75  204907.0  226012.75  245391.0
2015      157690.0  182877.75  208938.5  234951.50  268197.0
2016      164437.0  190107.00  218268.0  250213.25  290367.0
2017      177737.0  205030.75  236720.5  272223.50  324843.0
2018      196578.0  228004.25  259556.5  307264.00  383576.0
2019      215883.0  254195.50  272045.5  326921.50  417583.0

In [23]:
# Info over de kolommen in perceelprijzen
info_perceel = perceelprijzen.info()
info_perceel

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Perioden                        156 non-null    int64
 1   Regio's                         156 non-null    object
 2   Gemiddelde verkoopprijs (euro)  156 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.8+ KB

In [24]:
# Informatie over de kolomnamen in de Dataframe
perceelprijzen.columns

Index(['Perioden', 'Regio's', 'Gemiddelde verkoopprijs (euro)'], dtype='object')

In [25]:
# Controleren op nulwaarden in de dataframe
perceelprijzen.isna().sum()

Perioden                          0
Regio's                           0
Gemiddelde verkoopprijs (euro)    0
dtype: int64