In [1]:
#importeren van de benodigde packages
import pandas as pd
import geopandas as gpd

In [3]:
file = "../../../raw-data/Bestaande_koopwoningen__prijzen__regio_14042020_114827.csv"
data = pd.read_csv(file, sep=";")
data

     Perioden Regio's  Gemiddelde verkoopprijs (euro)
0        1995  Arnhem                           80240
1        2000  Arnhem                          149386
2        2005  Arnhem                          188779
3        2010  Arnhem                          204498
4        2011  Arnhem                          212747
..        ...     ...                             ...
151      2015  Zwolle                          218349
152      2016  Zwolle                          228479
153      2017  Zwolle                          245803
154      2018  Zwolle                          279684
155      2019  Zwolle                          293098

[156 rows x 3 columns]