# Data Understanding

De zip bestand bestaat in totaal uit 42 kolommen en 13689 rijen aan data.

 - `BU_CODE`          = Buurtcode

## Beschrijven van de data

Hieronder wordt de data beschreven. Dit wordt telkens door een stukje code gedaan, met comments erbij.

In [4]:
#importeren van de benodigde packages
import pandas as pd
import geopandas as gpd

In [5]:
#laden van de dataset
zipfile = "zip://../../../raw-data/CBS_PC4_2015_v2.zip"
print(f"Loading {zipfile}...")
data_recreatie = gpd.read_file(zipfile)
print(f"Loaded {zipfile}")

Loading zip://../../../raw-data/CBS_PC4_2015_v2.zip...
Loaded zip://../../../raw-data/CBS_PC4_2015_v2.zip

In [6]:
#dataverkennen door dataframe te openen
data_recreatie

,postcode,aantal_inwoners,aantal_mannen,aantal_vrouwen,aantal_inwoners_0_tot_15_jaar,aantal_inwoners_15_tot_25_jaar,aantal_inwoners_25_tot_45_jaar,aantal_inwoners_45_tot_65_jaar,aantal_inwoners_65_jaar_en_ouder,aantal_part_huishoudens,...,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,attractiepark_aantal_binnen_10_km,attractiepark_aantal_binnen_20_km,attractiepark_aantal_binnen_50_km,brandweerkazerne_gemiddelde_afstand_in_km,omgevingsadressendichtheid,stedelijkheid,ms_fid,geometry
0,1011,9535,4975,4555,805,1195,3210,2960,1365,6330,...,1.2,1.1,4.0,8.0,46.0,0.7,6965,1,1,"MULTIPOLYGON (((122246.232 487910.177, 122259...."
1,1012,8440,4590,3855,485,1365,4150,1790,650,6015,...,0.6,1.8,4.0,8.1,45.6,1.3,8400,1,2,"MULTIPOLYGON (((121933.366 488300.039, 121990...."
2,1013,21635,10740,10895,2670,2585,7800,6065,2515,13180,...,0.8,3.7,3.7,8.1,46.8,2.0,6207,1,3,"MULTIPOLYGON (((120142.497 493416.929, 120162...."
3,1014,535,330,205,30,65,335,80,25,285,...,1.3,5.9,3.9,9.5,45.2,1.6,2557,1,4,"MULTIPOLYGON (((120418.653 489749.819, 120405...."
4,1015,14870,7495,7375,1455,1545,5340,4375,2155,9910,...,0.5,3.0,3.8,7.8,46.8,1.0,10936,1,5,"MULTIPOLYGON (((120665.642 488535.500, 120668...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4048,9995,725,375,350,155,90,170,205,105,290,...,19.4,17.7,0.0,1.0,11.8,3.1,91,5,4049,"MULTIPOLYGON (((239939.989 600081.617, 239953...."
4049,9996,80,50,35,15,5,15,25,20,35,...,21.7,20.5,0.0,0.0,9.2,5.5,18,5,4050,"MULTIPOLYGON (((242620.211 600841.827, 242626...."
4050,9997,630,335,300,110,75,140,205,100,260,...,23.1,21.9,0.0,0.0,8.0,4.5,87,5,4051,"MULTIPOLYGON (((240755.585 602191.415, 240752...."
4051,9998,180,95,85,40,20,35,60,25,70,...,20.9,19.1,0.0,0.8,9.9,4.9,17,5,4052,"MULTIPOLYGON (((237960.007 602041.398, 237962...."
4052,9999,100,50,50,10,15,10,45,20,40,...,17.4,15.7,0.0,2.6,13.7,6.1,24,5,4053,"MULTIPOLYGON (((204514.846 380659.652, 204645...."

In [7]:
# Info over de kolommen in perceelprijzen
info_kolommen_recreatie = data_recreatie.info()
info_kolommen_recreatie

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 4053 entries, 0 to 4052
Columns: 133 entries, postcode to geometry
dtypes: float64(94), geometry(1), int64(37), object(1)
memory usage: 4.1+ MB

In [8]:
# Beschrijvende statistieken van de data
beschrijvende_stats_recreatie = data_recreatie.describe()
beschrijvende_stats_recreatie

,postcode,aantal_inwoners,aantal_mannen,aantal_vrouwen,aantal_inwoners_0_tot_15_jaar,aantal_inwoners_15_tot_25_jaar,aantal_inwoners_25_tot_45_jaar,aantal_inwoners_45_tot_65_jaar,aantal_inwoners_65_jaar_en_ouder,aantal_part_huishoudens,...,sauna_gemiddelde_afstand_in_km,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,attractiepark_aantal_binnen_10_km,attractiepark_aantal_binnen_20_km,attractiepark_aantal_binnen_50_km,brandweerkazerne_gemiddelde_afstand_in_km,omgevingsadressendichtheid,stedelijkheid,ms_fid
count,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,...,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000,4053.000000
mean,5669.970392,3576.255120,1374.186775,1363.248211,-1695.857143,-2129.486553,-532.840612,210.207747,-1355.308414,1174.709351,...,-582.153442,-584.406242,-584.311522,-590.443005,-586.663928,-565.401530,-589.344041,841.439428,-168.919812,2027.000000
std,2671.286282,9013.161565,8700.723863,9005.453986,15412.549996,16127.804491,12656.042110,9944.089464,14458.748618,8817.094670,...,7673.826618,7673.654587,7673.659554,7673.184013,7673.476417,7675.125517,7673.268849,4404.635536,4152.813326,1170.144649
min,1011.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,...,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,-99997.000000,1.000000
25%,3329.000000,655.000000,335.000000,320.000000,105.000000,75.000000,130.000000,215.000000,115.000000,265.000000,...,4.800000,1.800000,3.700000,0.200000,3.000000,17.200000,1.400000,115.000000,3.000000,1014.000000
50%,5705.000000,2635.000000,1305.000000,1315.000000,420.000000,290.000000,570.000000,775.000000,460.000000,1100.000000,...,8.800000,5.000000,6.500000,1.000000,5.000000,26.100000,2.400000,494.000000,5.000000,2027.000000
75%,8044.000000,6840.000000,3360.000000,3460.000000,1105.000000,785.000000,1670.000000,1880.000000,1200.000000,3100.000000,...,14.000000,10.200000,10.400000,2.200000,7.000000,34.900000,3.800000,1491.000000,5.000000,3040.000000
max,9999.000000,28410.000000,14195.000000,14215.000000,6535.000000,4380.000000,9060.000000,8110.000000,5160.000000,13180.000000,...,43.900000,71.800000,54.900000,8.500000,21.800000,56.200000,11.500000,11343.000000,5.000000,4053.000000

In [ ]:
# Informatie over de kolomnamen in de Dataframe
data_recreatie.columns

In [ ]:
# Controleren op nulwaarden in de dataframe
data_recreatie.isna().sum()