In [68]:
import pandas as pd
import geopandas as gpd
import seaborn as sb
import numpy as np
import matplotlib.pyplot as plt

# Dataset inlezen
file = "../../../raw-data/nieuw_veiligheid.csv"
data_veiligheid_nieuw = pd.read_csv(file, sep=",")

df1= pd.DataFrame(data_veiligheid_nieuw)

# Dataverkennen door dataframe te openen
data_veiligheid_nieuw

,Unnamed: 0,Soort misdrijf,Perioden,Regio's,Aantal_misdrijven,Misdrijven_relatief(%),Aantal_misdrijven(per_1000_inw)
0,0,"Misdrijven, totaal",2015,Groningen (PV),30065.0,100.0,"51,5"
1,1,"Misdrijven, totaal",2016,Groningen (PV),29570.0,100.0,"50,7"
2,2,"Misdrijven, totaal",2017,Groningen (PV),24990.0,100.0,"42,8"
3,3,"Misdrijven, totaal",2018*,Groningen (PV),24035.0,100.0,"41,2"
4,4,"Misdrijven, totaal",2019*,Groningen (PV),24865.0,100.0,"42,6"
...,...,...,...,...,...,...,...
176995,176995,9.2 Misdrijf (overig),2015,Niet-gemeentelijk ingedeeld,10.0,1.0,NaN
176996,176996,9.2 Misdrijf (overig),2016,Niet-gemeentelijk ingedeeld,10.0,1.0,NaN
176997,176997,9.2 Misdrijf (overig),2017,Niet-gemeentelijk ingedeeld,20.0,1.0,NaN
176998,176998,9.2 Misdrijf (overig),2018*,Niet-gemeentelijk ingedeeld,25.0,1.0,NaN
176999,176999,9.2 Misdrijf (overig),2019*,Niet-gemeentelijk ingedeeld,10.0,0.0,NaN

In [69]:
# Dataset inlezen
file = "../../../raw-data/postcodetabel.xlsx"
postcode = pd.read_excel(file) 

df2 = pd.DataFrame(postcode)

In [70]:
postcode

                Gemeente      Provincie
0                 Druten     Gelderland
1             Amstelveen  Noord-Holland
2              Amsterdam  Noord-Holland
3       Weststellingwerf      Friesland
4                Zutphen     Gelderland
...                  ...            ...
471776             Weesp  Noord-Holland
471777            Zwolle     Overijssel
471778        Appingedam      Groningen
471779             Haren      Groningen
471780         Apeldoorn     Gelderland

[471781 rows x 2 columns]

In [76]:

postcode.rename(columns={"Gemeente":"Regio's"}, inplace=True)

df2 = pd.DataFrame(postcode)
postcode

                 Regio's      Provincie
0                 Druten     Gelderland
1             Amstelveen  Noord-Holland
2              Amsterdam  Noord-Holland
3       Weststellingwerf      Friesland
4                Zutphen     Gelderland
...                  ...            ...
471776             Weesp  Noord-Holland
471777            Zwolle     Overijssel
471778        Appingedam      Groningen
471779             Haren      Groningen
471780         Apeldoorn     Gelderland

[471781 rows x 2 columns]

In [77]:
df2

                 Regio's      Provincie
0                 Druten     Gelderland
1             Amstelveen  Noord-Holland
2              Amsterdam  Noord-Holland
3       Weststellingwerf      Friesland
4                Zutphen     Gelderland
...                  ...            ...
471776             Weesp  Noord-Holland
471777            Zwolle     Overijssel
471778        Appingedam      Groningen
471779             Haren      Groningen
471780         Apeldoorn     Gelderland

[471781 rows x 2 columns]

In [78]:
ok = df1.merge(df2, on="Regio's")

ok

,Unnamed: 0,Soort misdrijf,Perioden,Regio's,Aantal_misdrijven,Misdrijven_relatief(%),Aantal_misdrijven(per_1000_inw),Provincie
0,65,"Misdrijven, totaal",2015,Aa en Hunze,645.0,100.0,"25,6",Drenthe
1,65,"Misdrijven, totaal",2015,Aa en Hunze,645.0,100.0,"25,6",Drenthe
2,65,"Misdrijven, totaal",2015,Aa en Hunze,645.0,100.0,"25,6",Drenthe
3,65,"Misdrijven, totaal",2015,Aa en Hunze,645.0,100.0,"25,6",Drenthe
4,65,"Misdrijven, totaal",2015,Aa en Hunze,645.0,100.0,"25,6",Drenthe
...,...,...,...,...,...,...,...,...
162661120,176994,9.2 Misdrijf (overig),2019*,Zwolle,15.0,0.0,NaN,Overijssel
162661121,176994,9.2 Misdrijf (overig),2019*,Zwolle,15.0,0.0,NaN,Overijssel
162661122,176994,9.2 Misdrijf (overig),2019*,Zwolle,15.0,0.0,NaN,Overijssel
162661123,176994,9.2 Misdrijf (overig),2019*,Zwolle,15.0,0.0,NaN,Overijssel
162661124,176994,9.2 Misdrijf (overig),2019*,Zwolle,15.0,0.0,NaN,Overijssel

In [2]:
from tkinter import *
from tkinter.ttk import *

class Gui:

    def __init__(self):
        self.root = Tk()

        # Set up the Combobox
        self.selections = Combobox(self.root)
        self.selections['values'] = ['Apples', 'Oranges', 'Blueberries', 'Bananas', 'Custom']
        self.selections.pack()

        # The Entry to be shown if "Custom" is selected
        self.custom_field = Entry(self.root)
        self.show_custom_field = False

        # Check the selection in 100 ms
        self.root.after(100, self.check_for_selection)

    def check_for_selection(self):
        '''Checks if the value of the Combobox equals "Custom".'''


        # Get the value of the Combobox
        value = self.selections.get()

        # If the value is equal to "Custom" and show_field is set to False
        if value == 'Custom' and not self.show_custom_field:

            # Set show_field to True and pack() the custom entry field
            self.show_custom_field = True
            self.custom_field.pack()


        # If the value DOESNT equal "Custom"
        elif value != 'Custom':

            # Set show_field to False
            self.show_custom_field = False

            # Destroy the custom input
            self.custom_field.destroy()

            # Set up a new Entry object to pack() if we need it later.
            # Without this line, tkinter was raising an error for me.
            # This fixed it, but I don't promise that this is the
            # most efficient method to do this.
            self.custom_field = Entry(self.root)

        # If the value IS "Custom" and we're showing the custom_feild
        elif value == 'Custom' and self.show_custom_field:
            pass


        # Call this method again to keep checking the selection box
        self.root.after(100, self.check_for_selection)


app = Gui()
app.root.mainloop()