In [1]:

import pandas as pd
# from pandas.io.json import json_normalize
from SPARQLWrapper import SPARQLWrapper, JSON

def query_kadaster(sparql_query, sparql_service_url):
    sparql = SPARQLWrapper(sparql_service_url, agent="Sparql Wrapper on Jupyter example")  
    sparql.setQuery(sparql_query)
    sparql.setReturnFormat(JSON)
    result = sparql.query().convert()
    return pd.json_normalize(result["results"]["bindings"])


# !!!!!!-----voorbeeld van variabelen en input----!!!!!!!
sparql_query = """
PREFIX bag: <http://bag.basisregistraties.overheid.nl/def/bag#>
SELECT ?x WHERE {
 ?x a bag:Pand.
 ?x bag:oorspronkelijkBouwjaar ?bouwjaar.
 FILTER (?bouwjaar = 1923)
}
LIMIT 100
"""
sparql_service_url = "https://data.pdok.nl/sparql"

data = query_kadaster(sparql_query, sparql_service_url)
data

   x.type                                            x.value
0     uri  http://bag.basisregistraties.overheid.nl/bag/i...
1     uri  http://bag.basisregistraties.overheid.nl/bag/i...
2     uri  http://bag.basisregistraties.overheid.nl/bag/i...
3     uri  http://bag.basisregistraties.overheid.nl/bag/i...
4     uri  http://bag.basisregistraties.overheid.nl/bag/i...
..    ...                                                ...
95    uri  http://bag.basisregistraties.overheid.nl/bag/i...
96    uri  http://bag.basisregistraties.overheid.nl/bag/i...
97    uri  http://bag.basisregistraties.overheid.nl/bag/i...
98    uri  http://bag.basisregistraties.overheid.nl/bag/i...
99    uri  http://bag.basisregistraties.overheid.nl/bag/i...

[100 rows x 2 columns]

test