In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
zipfile = "zip://../../raw-data/wijkenbuurten2019.zip"
print(f"Loading {zipfile}...")
gdf = gpd.read_file(zipfile)
print(f"Loaded {zipfile}")

Loading zip://../../raw-data/wijkenbuurten2019.zip...
Loaded zip://../../raw-data/wijkenbuurten2019.zip

In [3]:
gdf.head(2)

,BU_CODE,JRSTATCODE,BU_NAAM,WK_CODE,WK_NAAM,GM_CODE,GM_NAAM,IND_WBI,WATER,POSTCODE,...,P_N_W_AL,P_MAROKKO,P_ANT_ARU,P_SURINAM,P_TURKIJE,P_OVER_NW,OPP_TOT,OPP_LAND,OPP_WATER,geometry
0,BU00030000,2019BU00030000,Appingedam-Centrum,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9901,...,4,0,1,0,0,2,90,84,5,"POLYGON ((252643.203 594343.688, 252674.500 59..."
1,BU00030001,2019BU00030001,Appingedam-West,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9903,...,4,0,1,0,1,2,163,158,5,"POLYGON ((251260.496 594393.830, 251261.415 59..."

In [4]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13689 entries, 0 to 13688
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BU_CODE     13689 non-null  object
 1   JRSTATCODE  13689 non-null  object
 2   BU_NAAM     13689 non-null  object
 3   WK_CODE     13689 non-null  object
 4   WK_NAAM     13689 non-null  object
 5   GM_CODE     13689 non-null  object
 6   GM_NAAM     13689 non-null  object
 7   IND_WBI     13689 non-null  int64
 8   WATER       13689 non-null  object
 9   POSTCODE    13594 non-null  object
 10  DEK_PERC    13689 non-null  int64
 11  OAD         13689 non-null  int64
 12  STED        13689 non-null  int64
 13  BEV_DICHTH  13689 non-null  int64
 14  AANT_INW    13689 non-null  int64
 15  AANT_MAN    13689 non-null  int64
 16  AANT_VROUW  13689 non-null  int64
 17  P_00_14_JR  13689 non-null  int64
 18  P_15_24_JR  13689 non-null  int64
 19  P_25_44_JR  13689 non-null  int64
 20  P_45_64_JR  13689 non-null  int64
 21  P_65_EO_JR  13689 non-null  int64
 22  P_ONGEHUWD  13689 non-null  int64
 23  P_GEHUWD    13689 non-null  int64
 24  P_GESCHEID  13689 non-null  int64
 25  P_VERWEDUW  13689 non-null  int64
 26  AANTAL_HH   13689 non-null  int64
 27  P_EENP_HH   13689 non-null  int64
 28  P_HH_Z_K    13689 non-null  int64
 29  P_HH_M_K    13689 non-null  int64
 30  GEM_HH_GR   13689 non-null  float64
 31  P_WEST_AL   13689 non-null  int64
 32  P_N_W_AL    13689 non-null  int64
 33  P_MAROKKO   13689 non-null  int64
 34  P_ANT_ARU   13689 non-null  int64
 35  P_SURINAM   13689 non-null  int64
 36  P_TURKIJE   13689 non-null  int64
 37  P_OVER_NW   13689 non-null  int64
 38  OPP_TOT     13689 non-null  int64
 39  OPP_LAND    13689 non-null  int64
 40  OPP_WATER   13689 non-null  int64
 41  geometry    13689 non-null  geometry
dtypes: float64(1), geometry(1), int64(31), object(9)
memory usage: 4.4+ MB

In [12]:
inwgem = pd.DataFrame(gdf.drop(columns="geometry"))
nums = inwgem._get_numeric_data()
nums[nums < 0] = 0
inwgem.head()

,BU_CODE,JRSTATCODE,BU_NAAM,WK_CODE,WK_NAAM,GM_CODE,GM_NAAM,IND_WBI,WATER,POSTCODE,...,P_WEST_AL,P_N_W_AL,P_MAROKKO,P_ANT_ARU,P_SURINAM,P_TURKIJE,P_OVER_NW,OPP_TOT,OPP_LAND,OPP_WATER
0,BU00030000,2019BU00030000,Appingedam-Centrum,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9901,...,6,4,0,1,0,0,2,90,84,5
1,BU00030001,2019BU00030001,Appingedam-West,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9903,...,5,4,0,1,0,1,2,163,158,5
2,BU00030002,2019BU00030002,Appingedam-Oost,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9902,...,9,11,1,1,1,4,4,295,284,11
3,BU00030007,2019BU00030007,Verspreide huizen Damsterdiep en Eemskanaal,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9903,...,7,2,0,0,0,0,0,559,540,18
4,BU00030008,2019BU00030008,Verspreide huizen ten zuiden van Eemskanaal,WK000300,Wijk 00,GM0003,Appingedam,1,NEE,9902,...,3,1,0,0,0,0,0,582,554,28

In [8]:
inwgem = inwgem.groupby(["GM_NAAM"]).sum()
inwgem.reset_index(inplace=True)
inwgem

              GM_NAAM  AANT_INW
0       's-Gravenhage  537525.0
1    's-Hertogenbosch  153990.0
2         Aa en Hunze   25485.0
3            Aalsmeer   31710.0
4              Aalten   26975.0
..                ...       ...
350           Zundert   21590.0
351           Zutphen   47545.0
352   Zwartewaterland   22580.0
353       Zwijndrecht   44490.0
354            Zwolle  127425.0

[355 rows x 2 columns]