In [22]:
from Helper_functions import *

In [23]:
test1 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",0)
test2 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",1000)
test3 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",2000)
test4 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",3000)
test5 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",4000)

In [24]:
df_recreatie = pd.concat([test1, test2, test3, test4, test5], ignore_index=True)

In [25]:
df_recreatie = df_recreatie[['aantal_woningen','aantal_woningen_bouwjaar_voor_1945','aantal_woningen_bouwjaar_45_tot_65','aantal_woningen_bouwjaar_65_tot_75','aantal_woningen_bouwjaar_75_tot_85','aantal_woningen_bouwjaar_85_tot_95','aantal_woningen_bouwjaar_95_tot_05','aantal_woningen_bouwjaar_05_tot_15','aantal_woningen_bouwjaar_15_en_later','gemiddelde_woz_waarde_woning','percentage_koopwoningen', 'percentage_huurwoningen','kinderdagverblijf_gemiddelde_afstand_in_km','kinderdagverblijf_aantal_binnen_1_km','kinderdagverblijf_aantal_binnen_3_km','kinderdagverblijf_aantal_binnen_5_km','buitenschoolse_opvang_gem_afstand_in_km','buitenschoolse_opvang_aantal_binnen_1_km','buitenschoolse_opvang_aantal_binnen_3_km','buitenschoolse_opvang_aantal_binnen_5_km','grote_supermarkt_gemiddelde_afstand_in_km','grote_supermarkt_aantal_binnen_1_km','grote_supermarkt_aantal_binnen_3_km','grote_supermarkt_aantal_binnen_5_km','winkels_ov_dagelijkse_levensm_gem_afst_in_km','winkels_ov_dagel_levensm_aantal_binnen_1_km','winkels_ov_dagel_levensm_aantal_binnen_3_km','winkels_ov_dagel_levensm_aantal_binnen_5_km','warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km','cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km','cafe_aantal_binnen_3_km', 'cafe_aantal_binnen_5_km','cafetaria_gemiddelde_afstand_in_km', 'cafetaria_aantal_binnen_1_km','cafetaria_aantal_binnen_3_km', 'cafetaria_aantal_binnen_5_km','restaurant_gemiddelde_afstand_in_km','restaurant_aantal_binnen_1_km','restaurant_aantal_binnen_3_km', 'restaurant_aantal_binnen_5_km','hotel_gemiddelde_afstand_in_km', 'hotel_aantal_binnen_5_km','hotel_aantal_binnen_10_km', 'hotel_aantal_binnen_20_km','treinstation_gemiddelde_afstand_in_km','overstapstation_gemiddelde_afstand_in_km','brandweerkazerne_gemiddelde_afstand_in_km','geometry']]

# maken van data preparation, -99997 werkwerken enz.

In [26]:
df = gpd.read_file('zip://Postcode4.zip')

In [38]:
df_recreatie = pd.concat([df_recreatie, df['PC4']], axis=1)
df_recreatie = df_recreatie[['PC4','aantal_woningen', 'aantal_woningen_bouwjaar_voor_1945',
       'aantal_woningen_bouwjaar_45_tot_65',
       'aantal_woningen_bouwjaar_65_tot_75',
       'aantal_woningen_bouwjaar_75_tot_85',
       'aantal_woningen_bouwjaar_85_tot_95',
       'aantal_woningen_bouwjaar_95_tot_05',
       'aantal_woningen_bouwjaar_05_tot_15',
       'aantal_woningen_bouwjaar_15_en_later', 'gemiddelde_woz_waarde_woning',
       'percentage_koopwoningen', 'percentage_huurwoningen',
       'kinderdagverblijf_gemiddelde_afstand_in_km',
       'kinderdagverblijf_aantal_binnen_1_km',
       'kinderdagverblijf_aantal_binnen_3_km',
       'kinderdagverblijf_aantal_binnen_5_km',
       'buitenschoolse_opvang_gem_afstand_in_km',
       'buitenschoolse_opvang_aantal_binnen_1_km',
       'buitenschoolse_opvang_aantal_binnen_3_km',
       'buitenschoolse_opvang_aantal_binnen_5_km',
       'grote_supermarkt_gemiddelde_afstand_in_km',
       'grote_supermarkt_aantal_binnen_1_km',
       'grote_supermarkt_aantal_binnen_3_km',
       'grote_supermarkt_aantal_binnen_5_km',
       'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
       'winkels_ov_dagel_levensm_aantal_binnen_1_km',
       'winkels_ov_dagel_levensm_aantal_binnen_3_km',
       'winkels_ov_dagel_levensm_aantal_binnen_5_km',
       'warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
       'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km',
       'cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km',
       'cafe_aantal_binnen_3_km', 'cafe_aantal_binnen_5_km',
       'cafetaria_gemiddelde_afstand_in_km', 'cafetaria_aantal_binnen_1_km',
       'cafetaria_aantal_binnen_3_km', 'cafetaria_aantal_binnen_5_km',
       'restaurant_gemiddelde_afstand_in_km', 'restaurant_aantal_binnen_1_km',
       'restaurant_aantal_binnen_3_km', 'restaurant_aantal_binnen_5_km',
       'hotel_gemiddelde_afstand_in_km', 'hotel_aantal_binnen_5_km',
       'hotel_aantal_binnen_10_km', 'hotel_aantal_binnen_20_km',
       'treinstation_gemiddelde_afstand_in_km',
       'overstapstation_gemiddelde_afstand_in_km',
       'brandweerkazerne_gemiddelde_afstand_in_km', 'geometry']]

In [41]:
df_recreatie.replace(-99997, np.nan)
df_recreatie

,PC4,aantal_woningen,aantal_woningen_bouwjaar_voor_1945,aantal_woningen_bouwjaar_45_tot_65,aantal_woningen_bouwjaar_65_tot_75,aantal_woningen_bouwjaar_75_tot_85,aantal_woningen_bouwjaar_85_tot_95,aantal_woningen_bouwjaar_95_tot_05,aantal_woningen_bouwjaar_05_tot_15,aantal_woningen_bouwjaar_15_en_later,...,restaurant_aantal_binnen_3_km,restaurant_aantal_binnen_5_km,hotel_gemiddelde_afstand_in_km,hotel_aantal_binnen_5_km,hotel_aantal_binnen_10_km,hotel_aantal_binnen_20_km,treinstation_gemiddelde_afstand_in_km,overstapstation_gemiddelde_afstand_in_km,brandweerkazerne_gemiddelde_afstand_in_km,geometry
0,1011,6110,3605,115,115,800,390,670,370,45,...,1219.4,1738.4,0.2,349.1,400,464.4,1.2,1.2,0.7,"POLYGON ((122246.232 487910.177, 122259.064 48..."
1,1012,5695,4725,20,50,85,490,225,105,-99997,...,1267.9,1759.3,0.1,354.5,400.2,469.9,0.8,0.8,1.3,"POLYGON ((121995.029 488243.202, 121999.664 48..."
2,1013,12825,6930,75,115,1625,1475,445,2005,160,...,729.6,1529.2,0.6,338,398.9,467.7,1.7,1.7,2,"POLYGON ((120506.219 489494.551, 120495.813 48..."
3,1014,270,20,5,5,5,20,185,-99997,25,...,204.4,1086.6,0.4,245.4,400.1,470.6,1.7,1.7,1.6,"POLYGON ((120390.113 489860.746, 120387.401 48..."
4,1015,9865,7275,100,235,755,1075,340,80,-99997,...,1137.5,1740.9,0.3,359.8,400.5,473.5,1.3,1.3,1,"POLYGON ((120665.642 488535.500, 120668.785 48..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4061,9995,295,135,40,55,20,15,25,-99997,-99997,...,1.8,3.4,2.3,1,4.3,16.6,5,21.5,3.1,"POLYGON ((239924.227 600089.649, 240113.770 59..."
4062,9996,35,25,-99997,-99997,-99997,-99997,-99997,-99997,-99997,...,0,7.7,3.9,2.6,5.9,11.5,4.3,23.8,4.7,"POLYGON ((242620.211 600841.827, 242626.305 60..."
4063,9997,265,145,30,50,5,-99997,20,5,-99997,...,6.2,8,2.6,2.5,5.5,12,3,25.2,3.3,"POLYGON ((240755.585 602191.415, 240752.643 60..."
4064,9998,75,45,10,-99997,-99997,-99997,5,-99997,-99997,...,0.3,3.1,4.5,0.9,4,13.5,3.7,23.1,5.3,"POLYGON ((237960.007 602041.398, 237962.650 60..."
4065,9999,45,30,-99997,-99997,-99997,-99997,-99997,-99997,-99997,...,0.1,1.7,5.4,0.1,3.6,28.5,6.5,19.6,6.1,"POLYGON ((235725.834 598999.629, 235737.522 59..."