In [70]:
from Helper_functions import *

In [71]:
test1 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",0)
test2 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",1000)
test3 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",2000)
test4 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",3000)
test5 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",4000)

In [72]:
df_recreatie = pd.concat([test1, test2, test3, test4, test5], ignore_index=True)

In [73]:
df_recreatie = df_recreatie[['aantal_woningen','aantal_woningen_bouwjaar_voor_1945','aantal_woningen_bouwjaar_45_tot_65','aantal_woningen_bouwjaar_65_tot_75','aantal_woningen_bouwjaar_75_tot_85','aantal_woningen_bouwjaar_85_tot_95','aantal_woningen_bouwjaar_95_tot_05','aantal_woningen_bouwjaar_05_tot_15','aantal_woningen_bouwjaar_15_en_later','gemiddelde_woz_waarde_woning','percentage_koopwoningen', 'percentage_huurwoningen','kinderdagverblijf_gemiddelde_afstand_in_km','kinderdagverblijf_aantal_binnen_1_km','kinderdagverblijf_aantal_binnen_3_km','kinderdagverblijf_aantal_binnen_5_km','buitenschoolse_opvang_gem_afstand_in_km','buitenschoolse_opvang_aantal_binnen_1_km','buitenschoolse_opvang_aantal_binnen_3_km','buitenschoolse_opvang_aantal_binnen_5_km','grote_supermarkt_gemiddelde_afstand_in_km','grote_supermarkt_aantal_binnen_1_km','grote_supermarkt_aantal_binnen_3_km','grote_supermarkt_aantal_binnen_5_km','winkels_ov_dagelijkse_levensm_gem_afst_in_km','winkels_ov_dagel_levensm_aantal_binnen_1_km','winkels_ov_dagel_levensm_aantal_binnen_3_km','winkels_ov_dagel_levensm_aantal_binnen_5_km','warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km','cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km','cafe_aantal_binnen_3_km', 'cafe_aantal_binnen_5_km','cafetaria_gemiddelde_afstand_in_km', 'cafetaria_aantal_binnen_1_km','cafetaria_aantal_binnen_3_km', 'cafetaria_aantal_binnen_5_km','restaurant_gemiddelde_afstand_in_km','restaurant_aantal_binnen_1_km','restaurant_aantal_binnen_3_km', 'restaurant_aantal_binnen_5_km','hotel_gemiddelde_afstand_in_km', 'hotel_aantal_binnen_5_km','hotel_aantal_binnen_10_km', 'hotel_aantal_binnen_20_km','treinstation_gemiddelde_afstand_in_km','overstapstation_gemiddelde_afstand_in_km','brandweerkazerne_gemiddelde_afstand_in_km','geometry']]

In [74]:
df = gpd.read_file('zip://Postcode4.zip')

In [75]:
df_recreatie = pd.concat([df_recreatie, df['PC4']], axis=1)
df_recreatie = df_recreatie[['PC4','aantal_woningen', 'aantal_woningen_bouwjaar_voor_1945',
       'aantal_woningen_bouwjaar_45_tot_65',
       'aantal_woningen_bouwjaar_65_tot_75',
       'aantal_woningen_bouwjaar_75_tot_85',
       'aantal_woningen_bouwjaar_85_tot_95',
       'aantal_woningen_bouwjaar_95_tot_05',
       'aantal_woningen_bouwjaar_05_tot_15',
       'aantal_woningen_bouwjaar_15_en_later', 'gemiddelde_woz_waarde_woning',
       'percentage_koopwoningen', 'percentage_huurwoningen',
       'kinderdagverblijf_gemiddelde_afstand_in_km',
       'kinderdagverblijf_aantal_binnen_1_km',
       'kinderdagverblijf_aantal_binnen_5_km',
       'buitenschoolse_opvang_gem_afstand_in_km',
       'buitenschoolse_opvang_aantal_binnen_1_km',
       'buitenschoolse_opvang_aantal_binnen_5_km',
       'grote_supermarkt_gemiddelde_afstand_in_km',
       'grote_supermarkt_aantal_binnen_1_km',
       'grote_supermarkt_aantal_binnen_5_km',
       'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
       'winkels_ov_dagel_levensm_aantal_binnen_1_km',
       'winkels_ov_dagel_levensm_aantal_binnen_5_km',
       'warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
       'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km',
       'cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km', 'cafe_aantal_binnen_5_km',
       'cafetaria_gemiddelde_afstand_in_km', 'cafetaria_aantal_binnen_1_km', 'cafetaria_aantal_binnen_5_km',
       'restaurant_gemiddelde_afstand_in_km', 'restaurant_aantal_binnen_1_km', 'restaurant_aantal_binnen_5_km',
       'hotel_gemiddelde_afstand_in_km', 'hotel_aantal_binnen_5_km',
       'hotel_aantal_binnen_10_km', 'hotel_aantal_binnen_20_km',
       'treinstation_gemiddelde_afstand_in_km',
       'overstapstation_gemiddelde_afstand_in_km',
       'brandweerkazerne_gemiddelde_afstand_in_km', 'geometry']]

In [76]:
df_recreatie = df_recreatie.replace('-99997', np.nan)

In [77]:
df_recreatie.columns

Index(['PC4', 'aantal_woningen', 'aantal_woningen_bouwjaar_voor_1945',
       'aantal_woningen_bouwjaar_45_tot_65',
       'aantal_woningen_bouwjaar_65_tot_75',
       'aantal_woningen_bouwjaar_75_tot_85',
       'aantal_woningen_bouwjaar_85_tot_95',
       'aantal_woningen_bouwjaar_95_tot_05',
       'aantal_woningen_bouwjaar_05_tot_15',
       'aantal_woningen_bouwjaar_15_en_later', 'gemiddelde_woz_waarde_woning',
       'percentage_koopwoningen', 'percentage_huurwoningen',
       'kinderdagverblijf_gemiddelde_afstand_in_km',
       'kinderdagverblijf_aantal_binnen_1_km',
       'kinderdagverblijf_aantal_binnen_5_km',
       'buitenschoolse_opvang_gem_afstand_in_km',
       'buitenschoolse_opvang_aantal_binnen_1_km',
       'buitenschoolse_opvang_aantal_binnen_5_km',
       'grote_supermarkt_gemiddelde_afstand_in_km',
       'grote_supermarkt_aantal_binnen_1_km',
       'grote_supermarkt_aantal_binnen_5_km',
       'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
       'winkels_ov_dagel_levensm_aantal_binnen_1_km',
       'winkels_ov_dagel_levensm_aantal_binnen_5_km',
       'warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
       'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km',
       'cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km',
       'cafe_aantal_binnen_5_km', 'cafetaria_gemiddelde_afstand_in_km',
       'cafetaria_aantal_binnen_1_km', 'cafetaria_aantal_binnen_5_km',
       'restaurant_gemiddelde_afstand_in_km', 'restaurant_aantal_binnen_1_km',
       'restaurant_aantal_binnen_5_km', 'hotel_gemiddelde_afstand_in_km',
       'hotel_aantal_binnen_5_km', 'hotel_aantal_binnen_10_km',
       'hotel_aantal_binnen_20_km', 'treinstation_gemiddelde_afstand_in_km',
       'overstapstation_gemiddelde_afstand_in_km',
       'brandweerkazerne_gemiddelde_afstand_in_km', 'geometry'],
      dtype='object')

In [78]:
df_recreatie_formulier = df_recreatie
lijst = df_recreatie_formulier[['aantal_woningen_bouwjaar_voor_1945',
       'aantal_woningen_bouwjaar_45_tot_65',
       'aantal_woningen_bouwjaar_65_tot_75',
       'aantal_woningen_bouwjaar_75_tot_85',
       'aantal_woningen_bouwjaar_85_tot_95',
       'aantal_woningen_bouwjaar_95_tot_05',
       'aantal_woningen_bouwjaar_05_tot_15',
       'aantal_woningen_bouwjaar_15_en_later','gemiddelde_woz_waarde_woning',
       'percentage_koopwoningen', 'percentage_huurwoningen',
       'kinderdagverblijf_gemiddelde_afstand_in_km',
       'kinderdagverblijf_aantal_binnen_1_km',
       'kinderdagverblijf_aantal_binnen_5_km',
       'buitenschoolse_opvang_gem_afstand_in_km',
       'buitenschoolse_opvang_aantal_binnen_1_km',
       'buitenschoolse_opvang_aantal_binnen_5_km',
       'grote_supermarkt_gemiddelde_afstand_in_km',
       'grote_supermarkt_aantal_binnen_1_km',
       'grote_supermarkt_aantal_binnen_5_km',
       'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
       'winkels_ov_dagel_levensm_aantal_binnen_1_km',
       'winkels_ov_dagel_levensm_aantal_binnen_5_km',
       'warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
       'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km',
       'cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km', 'cafe_aantal_binnen_5_km',
       'cafetaria_gemiddelde_afstand_in_km', 'cafetaria_aantal_binnen_1_km', 'cafetaria_aantal_binnen_5_km',
       'restaurant_gemiddelde_afstand_in_km', 'restaurant_aantal_binnen_1_km', 'restaurant_aantal_binnen_5_km',
       'hotel_gemiddelde_afstand_in_km', 'hotel_aantal_binnen_5_km',
       'hotel_aantal_binnen_10_km', 'hotel_aantal_binnen_20_km',
       'treinstation_gemiddelde_afstand_in_km',
       'overstapstation_gemiddelde_afstand_in_km',
       'brandweerkazerne_gemiddelde_afstand_in_km']]

for x in lijst:
    kolom = df_recreatie_formulier[[x]]
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(kolom)
    df_recreatie_formulier[x + "_genormaliseerd"] = pd.DataFrame(x_scaled)
    df_recreatie_formulier = movecol(df_recreatie_formulier, cols_to_move=[x + "_genormaliseerd"], ref_col=x, place='After')

In [79]:
df_recreatie_formulier = df_recreatie_formulier.rename(columns={"PC4": "postcode"})
df_recreatie = df_recreatie.rename(columns={"PC4": "postcode"})

In [80]:
df_toevoeging = pd.read_csv('dataset.csv')
df_toevoeging = df_toevoeging[['postcode','gemeente']]

In [81]:
df_recreatie = pd.merge(df_recreatie, df_toevoeging, on='postcode', how='left')
df_recreatie_formulier = pd.merge(df_recreatie_formulier, df_toevoeging, on='postcode', how='left')
df_recreatie = movecol(df_recreatie, cols_to_move=['gemeente'], ref_col='postcode', place='After')
df_recreatie_formulier = movecol(df_recreatie_formulier, cols_to_move=['gemeente'], ref_col='postcode', place='After')
df_recreatie.drop(columns=['aantal_woningen_bouwjaar_voor_1945_genormaliseerd'])

,postcode,gemeente,aantal_woningen,aantal_woningen_bouwjaar_voor_1945,aantal_woningen_bouwjaar_voor_1945_genormaliseerd,aantal_woningen_bouwjaar_45_tot_65,aantal_woningen_bouwjaar_45_tot_65_genormaliseerd,aantal_woningen_bouwjaar_65_tot_75,aantal_woningen_bouwjaar_65_tot_75_genormaliseerd,aantal_woningen_bouwjaar_75_tot_85,...,hotel_aantal_binnen_10_km_genormaliseerd,hotel_aantal_binnen_20_km,hotel_aantal_binnen_20_km_genormaliseerd,treinstation_gemiddelde_afstand_in_km,treinstation_gemiddelde_afstand_in_km_genormaliseerd,overstapstation_gemiddelde_afstand_in_km,overstapstation_gemiddelde_afstand_in_km_genormaliseerd,brandweerkazerne_gemiddelde_afstand_in_km,brandweerkazerne_gemiddelde_afstand_in_km_genormaliseerd,geometry
0,1011,Amsterdam,6110,3605,0.405405,115,0.021359,115,0.017614,800,...,0.984737,464.4,0.947541,1.2,0.013652,1.2,0.009818,0.7,0.027027,"POLYGON ((122246.232 487910.177, 122259.064 48..."
1,1012,Amsterdam,5695,4725,0.531532,20,0.002913,50,0.007206,85,...,0.985229,469.9,0.958811,0.8,0.006826,0.8,0.004208,1.3,0.081081,"POLYGON ((121995.029 488243.202, 121999.664 48..."
2,1013,Amsterdam,12825,6930,0.779842,75,0.013592,115,0.017614,1625,...,0.982029,467.7,0.954303,1.7,0.022184,1.7,0.016830,2,0.144144,"POLYGON ((120506.219 489494.551, 120495.813 48..."
3,1014,Amsterdam,270,20,0.001689,5,0.000000,5,0.000000,5,...,0.984983,470.6,0.960246,1.7,0.022184,1.7,0.016830,1.6,0.108108,"POLYGON ((120390.113 489860.746, 120387.401 48..."
4,1015,Amsterdam,9865,7275,0.818694,100,0.018447,235,0.036829,755,...,0.985968,473.5,0.966189,1.3,0.015358,1.3,0.011220,1,0.054054,"POLYGON ((120665.642 488535.500, 120668.785 48..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4200,9999,Venlo,45,30,0.002815,NaN,NaN,NaN,NaN,NaN,...,0.008863,28.5,0.054303,6.5,0.104096,19.6,0.267882,6.1,0.513514,"POLYGON ((235725.834 598999.629, 235737.522 59..."
4201,9999,Staphorst,45,30,0.002815,NaN,NaN,NaN,NaN,NaN,...,0.008863,28.5,0.054303,6.5,0.104096,19.6,0.267882,6.1,0.513514,"POLYGON ((235725.834 598999.629, 235737.522 59..."
4202,9999,Horst aan de Maas,45,30,0.002815,NaN,NaN,NaN,NaN,NaN,...,0.008863,28.5,0.054303,6.5,0.104096,19.6,0.267882,6.1,0.513514,"POLYGON ((235725.834 598999.629, 235737.522 59..."
4203,9999,Voorschoten,45,30,0.002815,NaN,NaN,NaN,NaN,NaN,...,0.008863,28.5,0.054303,6.5,0.104096,19.6,0.267882,6.1,0.513514,"POLYGON ((235725.834 598999.629, 235737.522 59..."
4204,9999,Roermond,45,30,0.002815,NaN,NaN,NaN,NaN,NaN,...,0.008863,28.5,0.054303,6.5,0.104096,19.6,0.267882,6.1,0.513514,"POLYGON ((235725.834 598999.629, 235737.522 59..."

In [ ]:
df_recreatie.drop(columns='geometry')

# Samenvatting van de beschikbare datasets

- `df_recreatie` kan worden gebruikt voor het beschrijvende statistiek gedeelte, dit kan belangrijk/interessant zijn om te laten zien.
- `df_recreatie_formulier` moet worden gebruikt bij het maken van de afwegingen, hier zitten extra kolommen in waar normalisatie waardes in staan.

In [ ]:
def RecreatieAPI_Postcode(postcode):
    df = df_recreatie.loc[df_recreatie['postcode'] == postcode]
    return df

def RecreatieAPI_Gemeente(gemeente):
    df = df_recreatie.loc[df_recreatie['gemeente'] == gemeente]
    return df