In [2]:
from Helper_functions import *
import seaborn as sb

In [3]:
test1 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",0)
test2 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",1000)
test3 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",2000)
test4 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",3000)
test5 = wfs_data("https://geodata.nationaalgeoregister.nl/cbspostcode4/wfs?language=eng&", "cbspostcode4:postcode42017",4000)

In [4]:
df_recreatie = pd.concat([test1, test2, test3, test4, test5], ignore_index=True)

In [5]:
df_recreatie = df_recreatie[['aantal_woningen','aantal_woningen_bouwjaar_voor_1945','aantal_woningen_bouwjaar_45_tot_65','aantal_woningen_bouwjaar_65_tot_75','aantal_woningen_bouwjaar_75_tot_85','aantal_woningen_bouwjaar_85_tot_95','aantal_woningen_bouwjaar_95_tot_05','aantal_woningen_bouwjaar_05_tot_15','aantal_woningen_bouwjaar_15_en_later','gemiddelde_woz_waarde_woning','percentage_koopwoningen', 'percentage_huurwoningen','kinderdagverblijf_gemiddelde_afstand_in_km','kinderdagverblijf_aantal_binnen_1_km','kinderdagverblijf_aantal_binnen_3_km','kinderdagverblijf_aantal_binnen_5_km','buitenschoolse_opvang_gem_afstand_in_km','buitenschoolse_opvang_aantal_binnen_1_km','buitenschoolse_opvang_aantal_binnen_3_km','buitenschoolse_opvang_aantal_binnen_5_km','grote_supermarkt_gemiddelde_afstand_in_km','grote_supermarkt_aantal_binnen_1_km','grote_supermarkt_aantal_binnen_3_km','grote_supermarkt_aantal_binnen_5_km','winkels_ov_dagelijkse_levensm_gem_afst_in_km','winkels_ov_dagel_levensm_aantal_binnen_1_km','winkels_ov_dagel_levensm_aantal_binnen_3_km','winkels_ov_dagel_levensm_aantal_binnen_5_km','warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km','cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km','cafe_aantal_binnen_3_km', 'cafe_aantal_binnen_5_km','cafetaria_gemiddelde_afstand_in_km', 'cafetaria_aantal_binnen_1_km','cafetaria_aantal_binnen_3_km', 'cafetaria_aantal_binnen_5_km','restaurant_gemiddelde_afstand_in_km','restaurant_aantal_binnen_1_km','restaurant_aantal_binnen_3_km', 'restaurant_aantal_binnen_5_km','hotel_gemiddelde_afstand_in_km', 'hotel_aantal_binnen_5_km','hotel_aantal_binnen_10_km', 'hotel_aantal_binnen_20_km','treinstation_gemiddelde_afstand_in_km','overstapstation_gemiddelde_afstand_in_km','brandweerkazerne_gemiddelde_afstand_in_km','geometry']]

In [6]:
zipfile = "zip://Postcode4.zip"
df = gpd.read_file(zipfile)

In [7]:
df_recreatie = pd.concat([df_recreatie, df['PC4']], axis=1)
df_recreatie = df_recreatie[['PC4','aantal_woningen', 'aantal_woningen_bouwjaar_voor_1945',
       'aantal_woningen_bouwjaar_45_tot_65',
       'aantal_woningen_bouwjaar_65_tot_75',
       'aantal_woningen_bouwjaar_75_tot_85',
       'aantal_woningen_bouwjaar_85_tot_95',
       'aantal_woningen_bouwjaar_95_tot_05',
       'aantal_woningen_bouwjaar_05_tot_15',
       'aantal_woningen_bouwjaar_15_en_later', 'gemiddelde_woz_waarde_woning',
       'percentage_koopwoningen', 'percentage_huurwoningen',
       'kinderdagverblijf_gemiddelde_afstand_in_km',
       'kinderdagverblijf_aantal_binnen_1_km',
       'kinderdagverblijf_aantal_binnen_5_km',
       'buitenschoolse_opvang_gem_afstand_in_km',
       'buitenschoolse_opvang_aantal_binnen_1_km',
       'buitenschoolse_opvang_aantal_binnen_5_km',
       'grote_supermarkt_gemiddelde_afstand_in_km',
       'grote_supermarkt_aantal_binnen_1_km',
       'grote_supermarkt_aantal_binnen_5_km',
       'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
       'winkels_ov_dagel_levensm_aantal_binnen_1_km',
       'winkels_ov_dagel_levensm_aantal_binnen_5_km',
       'warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
       'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km',
       'cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km', 'cafe_aantal_binnen_5_km',
       'cafetaria_gemiddelde_afstand_in_km', 'cafetaria_aantal_binnen_1_km', 'cafetaria_aantal_binnen_5_km',
       'restaurant_gemiddelde_afstand_in_km', 'restaurant_aantal_binnen_1_km', 'restaurant_aantal_binnen_5_km',
       'hotel_gemiddelde_afstand_in_km', 'hotel_aantal_binnen_5_km',
       'hotel_aantal_binnen_10_km', 'hotel_aantal_binnen_20_km',
       'treinstation_gemiddelde_afstand_in_km',
       'overstapstation_gemiddelde_afstand_in_km',
       'brandweerkazerne_gemiddelde_afstand_in_km', 'geometry']]

In [8]:
df_recreatie = df_recreatie.replace('-99997', np.nan)

In [9]:
df_recreatie.columns

Index(['PC4', 'aantal_woningen', 'aantal_woningen_bouwjaar_voor_1945',
       'aantal_woningen_bouwjaar_45_tot_65',
       'aantal_woningen_bouwjaar_65_tot_75',
       'aantal_woningen_bouwjaar_75_tot_85',
       'aantal_woningen_bouwjaar_85_tot_95',
       'aantal_woningen_bouwjaar_95_tot_05',
       'aantal_woningen_bouwjaar_05_tot_15',
       'aantal_woningen_bouwjaar_15_en_later', 'gemiddelde_woz_waarde_woning',
       'percentage_koopwoningen', 'percentage_huurwoningen',
       'kinderdagverblijf_gemiddelde_afstand_in_km',
       'kinderdagverblijf_aantal_binnen_1_km',
       'kinderdagverblijf_aantal_binnen_5_km',
       'buitenschoolse_opvang_gem_afstand_in_km',
       'buitenschoolse_opvang_aantal_binnen_1_km',
       'buitenschoolse_opvang_aantal_binnen_5_km',
       'grote_supermarkt_gemiddelde_afstand_in_km',
       'grote_supermarkt_aantal_binnen_1_km',
       'grote_supermarkt_aantal_binnen_5_km',
       'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
       'winkels_ov_dagel_levensm_aantal_binnen_1_km',
       'winkels_ov_dagel_levensm_aantal_binnen_5_km',
       'warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
       'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km',
       'cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km',
       'cafe_aantal_binnen_5_km', 'cafetaria_gemiddelde_afstand_in_km',
       'cafetaria_aantal_binnen_1_km', 'cafetaria_aantal_binnen_5_km',
       'restaurant_gemiddelde_afstand_in_km', 'restaurant_aantal_binnen_1_km',
       'restaurant_aantal_binnen_5_km', 'hotel_gemiddelde_afstand_in_km',
       'hotel_aantal_binnen_5_km', 'hotel_aantal_binnen_10_km',
       'hotel_aantal_binnen_20_km', 'treinstation_gemiddelde_afstand_in_km',
       'overstapstation_gemiddelde_afstand_in_km',
       'brandweerkazerne_gemiddelde_afstand_in_km', 'geometry'],
      dtype='object')

In [10]:
df_recreatie_formulier = df_recreatie
lijst = df_recreatie_formulier[['aantal_woningen_bouwjaar_voor_1945',
       'aantal_woningen_bouwjaar_45_tot_65',
       'aantal_woningen_bouwjaar_65_tot_75',
       'aantal_woningen_bouwjaar_75_tot_85',
       'aantal_woningen_bouwjaar_85_tot_95',
       'aantal_woningen_bouwjaar_95_tot_05',
       'aantal_woningen_bouwjaar_05_tot_15',
       'aantal_woningen_bouwjaar_15_en_later','gemiddelde_woz_waarde_woning',
       'percentage_koopwoningen', 'percentage_huurwoningen',
       'kinderdagverblijf_gemiddelde_afstand_in_km',
       'kinderdagverblijf_aantal_binnen_1_km',
       'kinderdagverblijf_aantal_binnen_5_km',
       'buitenschoolse_opvang_gem_afstand_in_km',
       'buitenschoolse_opvang_aantal_binnen_1_km',
       'buitenschoolse_opvang_aantal_binnen_5_km',
       'grote_supermarkt_gemiddelde_afstand_in_km',
       'grote_supermarkt_aantal_binnen_1_km',
       'grote_supermarkt_aantal_binnen_5_km',
       'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
       'winkels_ov_dagel_levensm_aantal_binnen_1_km',
       'winkels_ov_dagel_levensm_aantal_binnen_5_km',
       'warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
       'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km',
       'cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km', 'cafe_aantal_binnen_5_km',
       'cafetaria_gemiddelde_afstand_in_km', 'cafetaria_aantal_binnen_1_km', 'cafetaria_aantal_binnen_5_km',
       'restaurant_gemiddelde_afstand_in_km', 'restaurant_aantal_binnen_1_km', 'restaurant_aantal_binnen_5_km',
       'hotel_gemiddelde_afstand_in_km', 'hotel_aantal_binnen_5_km',
       'hotel_aantal_binnen_10_km', 'hotel_aantal_binnen_20_km',
       'treinstation_gemiddelde_afstand_in_km',
       'overstapstation_gemiddelde_afstand_in_km',
       'brandweerkazerne_gemiddelde_afstand_in_km']]

for x in lijst:
    kolom = df_recreatie_formulier[[x]]
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(kolom)
    df_recreatie_formulier[x + "_genormaliseerd"] = pd.DataFrame(x_scaled)
    df_recreatie_formulier = movecol(df_recreatie_formulier, cols_to_move=[x + "_genormaliseerd"], ref_col=x, place='After')

In [11]:
df_recreatie_formulier = df_recreatie_formulier.rename(columns={"PC4": "postcode"})
df_recreatie = df_recreatie.rename(columns={"PC4": "postcode"})

In [12]:
df_toevoeging = pd.read_csv('dataset.csv')
df_toevoeging = df_toevoeging[['postcode','gemeente']]

In [13]:
df_recreatie = pd.merge(df_recreatie, df_toevoeging, on='postcode', how='left')
df_recreatie_formulier = pd.merge(df_recreatie_formulier, df_toevoeging, on='postcode', how='left')
df_recreatie = movecol(df_recreatie, cols_to_move=['gemeente'], ref_col='postcode', place='After')
df_recreatie_formulier = movecol(df_recreatie_formulier, cols_to_move=['gemeente'], ref_col='postcode', place='After')
df_recreatie.drop(columns=['aantal_woningen_bouwjaar_voor_1945_genormaliseerd','geometry'], inplace=True)

# Vanaf hier voorspellende statistieken maken en meenemen in de API

In [14]:
df_recreatie_correlatie = df_recreatie
df_recreatie_correlatie = df_recreatie_correlatie.replace(np.nan, 0)
# df_recreatie_correlatie = df_recreatie_correlatie.drop(columns=['postcode','gemeente'])
# df_recreatie_correlatie[['aantal_woningen',
#        'aantal_woningen_bouwjaar_voor_1945',
#        'aantal_woningen_bouwjaar_45_tot_65',
#        'aantal_woningen_bouwjaar_65_tot_75',
#        'aantal_woningen_bouwjaar_75_tot_85',
#        'aantal_woningen_bouwjaar_85_tot_95',
#        'aantal_woningen_bouwjaar_95_tot_05',
#        'aantal_woningen_bouwjaar_05_tot_15',
#        'aantal_woningen_bouwjaar_15_en_later', 'gemiddelde_woz_waarde_woning',
#        'percentage_koopwoningen', 'percentage_huurwoningen',
#        'kinderdagverblijf_gemiddelde_afstand_in_km',
#        'kinderdagverblijf_aantal_binnen_1_km',
#        'kinderdagverblijf_aantal_binnen_5_km',
#        'buitenschoolse_opvang_gem_afstand_in_km',
#        'buitenschoolse_opvang_aantal_binnen_1_km',
#        'buitenschoolse_opvang_aantal_binnen_5_km',
#        'grote_supermarkt_gemiddelde_afstand_in_km',
#        'grote_supermarkt_aantal_binnen_1_km',
#        'grote_supermarkt_aantal_binnen_5_km',
#        'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
#        'winkels_ov_dagel_levensm_aantal_binnen_1_km',
#        'winkels_ov_dagel_levensm_aantal_binnen_5_km',
#        'warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
#        'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km',
#        'cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km',
#        'cafe_aantal_binnen_5_km', 'cafetaria_gemiddelde_afstand_in_km',
#        'cafetaria_aantal_binnen_1_km', 'cafetaria_aantal_binnen_5_km',
#        'restaurant_gemiddelde_afstand_in_km', 'restaurant_aantal_binnen_1_km',
#        'restaurant_aantal_binnen_5_km', 'hotel_gemiddelde_afstand_in_km',
#        'hotel_aantal_binnen_5_km', 'hotel_aantal_binnen_10_km',
#        'hotel_aantal_binnen_20_km', 'treinstation_gemiddelde_afstand_in_km',
#        'overstapstation_gemiddelde_afstand_in_km',
#        'brandweerkazerne_gemiddelde_afstand_in_km']] = df_recreatie_correlatie[['aantal_woningen',
#        'aantal_woningen_bouwjaar_voor_1945',
#        'aantal_woningen_bouwjaar_45_tot_65',
#        'aantal_woningen_bouwjaar_65_tot_75',
#        'aantal_woningen_bouwjaar_75_tot_85',
#        'aantal_woningen_bouwjaar_85_tot_95',
#        'aantal_woningen_bouwjaar_95_tot_05',
#        'aantal_woningen_bouwjaar_05_tot_15',
#        'aantal_woningen_bouwjaar_15_en_later', 'gemiddelde_woz_waarde_woning',
#        'percentage_koopwoningen', 'percentage_huurwoningen',
#        'kinderdagverblijf_gemiddelde_afstand_in_km',
#        'kinderdagverblijf_aantal_binnen_1_km',
#        'kinderdagverblijf_aantal_binnen_5_km',
#        'buitenschoolse_opvang_gem_afstand_in_km',
#        'buitenschoolse_opvang_aantal_binnen_1_km',
#        'buitenschoolse_opvang_aantal_binnen_5_km',
#        'grote_supermarkt_gemiddelde_afstand_in_km',
#        'grote_supermarkt_aantal_binnen_1_km',
#        'grote_supermarkt_aantal_binnen_5_km',
#        'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
#        'winkels_ov_dagel_levensm_aantal_binnen_1_km',
#        'winkels_ov_dagel_levensm_aantal_binnen_5_km',
#        'warenhuis_gemiddelde_afstand_in_km', 'warenhuis_aantal_binnen_5_km',
#        'warenhuis_aantal_binnen_10_km', 'warenhuis_aantal_binnen_20_km',
#        'cafe_gemiddelde_afstand_in_km', 'cafe_aantal_binnen_1_km',
#        'cafe_aantal_binnen_5_km', 'cafetaria_gemiddelde_afstand_in_km',
#        'cafetaria_aantal_binnen_1_km', 'cafetaria_aantal_binnen_5_km',
#        'restaurant_gemiddelde_afstand_in_km', 'restaurant_aantal_binnen_1_km',
#        'restaurant_aantal_binnen_5_km', 'hotel_gemiddelde_afstand_in_km',
#        'hotel_aantal_binnen_5_km', 'hotel_aantal_binnen_10_km',
#        'hotel_aantal_binnen_20_km', 'treinstation_gemiddelde_afstand_in_km',
#        'overstapstation_gemiddelde_afstand_in_km',
#        'brandweerkazerne_gemiddelde_afstand_in_km']].astype('float')

df_recreatie_correlatie.dtypes

postcode                                         int64
gemeente                                        object
aantal_woningen                                 object
aantal_woningen_bouwjaar_voor_1945              object
aantal_woningen_bouwjaar_45_tot_65              object
aantal_woningen_bouwjaar_65_tot_75              object
aantal_woningen_bouwjaar_75_tot_85              object
aantal_woningen_bouwjaar_85_tot_95              object
aantal_woningen_bouwjaar_95_tot_05              object
aantal_woningen_bouwjaar_05_tot_15              object
aantal_woningen_bouwjaar_15_en_later            object
gemiddelde_woz_waarde_woning                    object
percentage_koopwoningen                         object
percentage_huurwoningen                         object
kinderdagverblijf_gemiddelde_afstand_in_km      object
kinderdagverblijf_aantal_binnen_1_km            object
kinderdagverblijf_aantal_binnen_5_km            object
buitenschoolse_opvang_gem_afstand_in_km         object
buitenschoolse_opvang_aantal_binnen_1_km        object
buitenschoolse_opvang_aantal_binnen_5_km        object
grote_supermarkt_gemiddelde_afstand_in_km       object
grote_supermarkt_aantal_binnen_1_km             object
grote_supermarkt_aantal_binnen_5_km             object
winkels_ov_dagelijkse_levensm_gem_afst_in_km    object
winkels_ov_dagel_levensm_aantal_binnen_1_km     object
winkels_ov_dagel_levensm_aantal_binnen_5_km     object
warenhuis_gemiddelde_afstand_in_km              object
warenhuis_aantal_binnen_5_km                    object
warenhuis_aantal_binnen_10_km                   object
warenhuis_aantal_binnen_20_km                   object
cafe_gemiddelde_afstand_in_km                   object
cafe_aantal_binnen_1_km                         object
cafe_aantal_binnen_5_km                         object
cafetaria_gemiddelde_afstand_in_km              object
cafetaria_aantal_binnen_1_km                    object
cafetaria_aantal_binnen_5_km                    object
restaurant_gemiddelde_afstand_in_km             object
restaurant_aantal_binnen_1_km                   object
restaurant_aantal_binnen_5_km                   object
hotel_gemiddelde_afstand_in_km                  object
hotel_aantal_binnen_5_km                        object
hotel_aantal_binnen_10_km                       object
hotel_aantal_binnen_20_km                       object
treinstation_gemiddelde_afstand_in_km           object
overstapstation_gemiddelde_afstand_in_km        object
brandweerkazerne_gemiddelde_afstand_in_km       object
dtype: object

# Samenvatting van de beschikbare datasets

- `df_recreatie` kan worden gebruikt voor het beschrijvende statistiek gedeelte, dit kan belangrijk/interessant zijn om te laten zien.
- `df_recreatie_formulier` moet worden gebruikt bij het maken van de afwegingen, hier zitten extra kolommen in waar normalisatie waardes in staan.

In [15]:
def RecreatieAPI_Postcode(postcode):
    df = df_recreatie.loc[df_recreatie['postcode'] == postcode]
    return df

def RecreatieAPI_Gemeente(gemeente):
    df = df_recreatie.loc[df_recreatie['gemeente'] == gemeente]
    return df

In [17]:
df_recreatie

,postcode,gemeente,aantal_woningen,aantal_woningen_bouwjaar_voor_1945,aantal_woningen_bouwjaar_45_tot_65,aantal_woningen_bouwjaar_65_tot_75,aantal_woningen_bouwjaar_75_tot_85,aantal_woningen_bouwjaar_85_tot_95,aantal_woningen_bouwjaar_95_tot_05,aantal_woningen_bouwjaar_05_tot_15,...,restaurant_gemiddelde_afstand_in_km,restaurant_aantal_binnen_1_km,restaurant_aantal_binnen_5_km,hotel_gemiddelde_afstand_in_km,hotel_aantal_binnen_5_km,hotel_aantal_binnen_10_km,hotel_aantal_binnen_20_km,treinstation_gemiddelde_afstand_in_km,overstapstation_gemiddelde_afstand_in_km,brandweerkazerne_gemiddelde_afstand_in_km
0,1011,Amsterdam,6110,3605,115,115,800,390,670,370,...,0.1,178.8,1738.4,0.2,349.1,400,464.4,1.2,1.2,0.7
1,1012,Amsterdam,5695,4725,20,50,85,490,225,105,...,0,313,1759.3,0.1,354.5,400.2,469.9,0.8,0.8,1.3
2,1013,Amsterdam,12825,6930,75,115,1625,1475,445,2005,...,0.2,65.6,1529.2,0.6,338,398.9,467.7,1.7,1.7,2
3,1014,Amsterdam,270,20,5,5,5,20,185,NaN,...,0.5,10.1,1086.6,0.4,245.4,400.1,470.6,1.7,1.7,1.6
4,1015,Amsterdam,9865,7275,100,235,755,1075,340,80,...,0.1,190.4,1740.9,0.3,359.8,400.5,473.5,1.3,1.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4200,9999,Venlo,45,30,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4,0,1.7,5.4,0.1,3.6,28.5,6.5,19.6,6.1
4201,9999,Staphorst,45,30,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4,0,1.7,5.4,0.1,3.6,28.5,6.5,19.6,6.1
4202,9999,Horst aan de Maas,45,30,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4,0,1.7,5.4,0.1,3.6,28.5,6.5,19.6,6.1
4203,9999,Voorschoten,45,30,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4,0,1.7,5.4,0.1,3.6,28.5,6.5,19.6,6.1
4204,9999,Roermond,45,30,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4,0,1.7,5.4,0.1,3.6,28.5,6.5,19.6,6.1

In [19]:
RecreatieAPI_Gemeente('Amsterdam')

,postcode,gemeente,aantal_woningen,aantal_woningen_bouwjaar_voor_1945,aantal_woningen_bouwjaar_45_tot_65,aantal_woningen_bouwjaar_65_tot_75,aantal_woningen_bouwjaar_75_tot_85,aantal_woningen_bouwjaar_85_tot_95,aantal_woningen_bouwjaar_95_tot_05,aantal_woningen_bouwjaar_05_tot_15,...,restaurant_gemiddelde_afstand_in_km,restaurant_aantal_binnen_1_km,restaurant_aantal_binnen_5_km,hotel_gemiddelde_afstand_in_km,hotel_aantal_binnen_5_km,hotel_aantal_binnen_10_km,hotel_aantal_binnen_20_km,treinstation_gemiddelde_afstand_in_km,overstapstation_gemiddelde_afstand_in_km,brandweerkazerne_gemiddelde_afstand_in_km
0,1011,Amsterdam,6110,3605,115,115,800,390,670,370,...,0.1,178.8,1738.4,0.2,349.1,400,464.4,1.2,1.2,0.7
1,1012,Amsterdam,5695,4725,20,50,85,490,225,105,...,0,313,1759.3,0.1,354.5,400.2,469.9,0.8,0.8,1.3
2,1013,Amsterdam,12825,6930,75,115,1625,1475,445,2005,...,0.2,65.6,1529.2,0.6,338,398.9,467.7,1.7,1.7,2
3,1014,Amsterdam,270,20,5,5,5,20,185,NaN,...,0.5,10.1,1086.6,0.4,245.4,400.1,470.6,1.7,1.7,1.6
4,1015,Amsterdam,9865,7275,100,235,755,1075,340,80,...,0.1,190.4,1740.9,0.3,359.8,400.5,473.5,1.3,1.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,1107,Amsterdam,5395,80,NaN,NaN,3650,1660,NaN,NaN,...,1,1.7,46.8,3.1,9.5,28.9,436.3,2.6,6.9,2.4
81,1108,Amsterdam,1680,65,10,NaN,1605,NaN,NaN,NaN,...,1.5,0.1,61.5,1,8.7,114.8,436.9,3.1,6,0.8
82,1109,Amsterdam,630,155,180,80,45,145,20,NaN,...,1.7,0,28.5,2.5,3,23.6,433.4,3.6,3.6,0.4
107,1181,Amsterdam,9020,1915,4865,1265,5,330,435,110,...,0.4,9.3,191.4,1.1,19.6,365.9,459.3,3.7,3.7,2.2
110,1183,Amsterdam,6170,75,250,4215,85,265,330,895,...,0.7,5.6,221.6,1.8,25.9,362.5,454.5,3.6,3.6,2