In [27]:
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [68]:
#input voor formulier
wozinput = 'Hoog'
stedelijkheidinput = 'Middel'
werkgelegenheidinput = 'Hoog'
Bedrijfstakinput = "Industrie"
misdaadinput = 'Hoog'

In [54]:
datawoz = pd.read_csv('data/datasetwoznormaliseerd.csv')
datawoz = datawoz.drop(columns=['geometry', 'Unnamed: 0'])

In [55]:
datamisdaad = pd.read_csv('data/misdrijven.csv')
datamisdaad = datamisdaad.rename(columns={"Regio's": "gemeente",})
datamisdaad = datamisdaad.drop(columns=[ 'Unnamed: 0'])
datamisdaad = datamisdaad.loc[(datamisdaad['Soort_misdrijf'] == 'Misdrijven, totaal') & (datamisdaad['Perioden'] == '2019*')]
datamisdaad.head()

,Soort_misdrijf,Perioden,gemeente,Aantal_misdrijven,Aantal_misdrijven_klasse
4,"Misdrijven, totaal",2019*,Aa en Hunze,665.0,Hoog
379,"Misdrijven, totaal",2019*,Aalburg,0.0,Laag
754,"Misdrijven, totaal",2019*,Aalsmeer,1095.0,Hoog
1129,"Misdrijven, totaal",2019*,Aalten,580.0,Hoog
1504,"Misdrijven, totaal",2019*,Abcoude,0.0,Laag

In [56]:
datawoz.head()

,postcode,gemiddelde_woz_waarde_woning,gemeente,gemiddelde_woz_waarde_gemeente,woz_normalisatie,klasse_woz
0,1011,386,Amsterdam,298.333333,0.318303,Heel-Hoog
1,1012,343,Amsterdam,298.333333,0.318303,Heel-Hoog
2,1013,329,Amsterdam,298.333333,0.318303,Heel-Hoog
3,1014,395,Amsterdam,298.333333,0.318303,Heel-Hoog
4,1015,400,Amsterdam,298.333333,0.318303,Heel-Hoog

In [57]:
datademografie = pd.read_csv('data/Demografie_wijken_data.csv')
datademografie = datademografie.rename(columns={"gemeentenaam": "gemeente",})
datademografie = datademografie.drop(columns=['id','wijkcode','jrstatcode','gemeentecode','ind_wbi','Unnamed: 0','geometry','percentage_westerse_migratieachtergrond','percentage_niet_westerse_migratieachtergrond','percentage_uit_marokko','percentage_uit_nederlandse_antillen_en_aruba','percentage_uit_suriname', 'percentage_uit_turkije','percentage_overige_nietwestersemigratieachtergrond'])

In [58]:
datademografie.head()

,wijknaam,gemeente,water,omgevingsadressendichtheid,stedelijkheid_adressen_per_km2,bevolkingsdichtheid_inwoners_per_km2,aantal_inwoners,mannen,vrouwen,percentage_personen_0_tot_15_jaar,percentage_personen_15_tot_25_jaar,percentage_personen_25_tot_45_jaar,percentage_personen_65_jaar_en_ouder,percentage_personen_45_tot_65_jaar,percentage_ongehuwd,percentage_gehuwd,percentage_gescheid,percentage_verweduwd,aantal_huishoudens,percentage_eenpersoonshuishoudens,percentage_huishoudens_zonder_kinderen,percentage_huishoudens_met_kinderen,gemiddelde_huishoudsgrootte,oppervlakte_totaal_in_ha,oppervlakte_land_in_ha,oppervlakte_water_in_ha,stedelijkheid_normalisatie_waarde,klasse_stedelijkheid_normalisatie,mensen_normalisatie_waarde,klasse_mensen_normalisatie,kinderen_normalisatie_waarde,klasse_kinderen_normalisatie,senioren_normalisatie_waarde,klasse_senioren_normalisatie,water_normalisatie_waarde,klasse_water_normalisatie
0,Wijk 00,Appingedam,NEE,1067.0,3.0,493.0,11720.0,5720.0,6000.0,15.0,11.0,20.0,30.0,25.0,42.0,42.0,9.0,7.0,5530.0,38.0,31.0,31.0,2.1,2458.0,2378.0,80.0,0.588046,Middel,0.124743,Middel-Hoog,0.089393,Hoog,0.103703,Hoog,0.016587,Hoog
1,Centrum,Delfzijl,NEE,963.0,4.0,2899.0,795.0,420.0,375.0,3.0,8.0,22.0,25.0,42.0,38.0,32.0,13.0,16.0,565.0,68.0,25.0,7.0,1.4,29.0,27.0,1.0,0.829448,Middel-Hoog,0.110214,Middel-Hoog,0.001170,Laag,0.005728,Laag,0.000207,Laag
2,Wijk 00 West-Terschelling,Terschelling,NEE,366.0,5.0,103.0,2570.0,1420.0,1145.0,10.0,20.0,21.0,25.0,24.0,51.0,34.0,9.0,6.0,1370.0,54.0,28.0,19.0,1.7,2527.0,2494.0,33.0,1.030093,Hoog,0.027145,Middel,0.013068,Middel,0.018839,Middel,0.006842,Middel-Hoog
3,Wijk 11 Bijdorp,Barendrecht,NEE,1485.0,3.0,5495.0,1495.0,720.0,770.0,18.0,16.0,17.0,35.0,14.0,47.0,44.0,5.0,4.0,570.0,22.0,27.0,50.0,2.6,27.0,27.0,0.0,0.622603,Middel,0.208831,Hoog,0.013678,Middel,0.015325,Middel,0.000000,Laag
4,West,Delfzijl,NEE,1203.0,3.0,2300.0,3505.0,1675.0,1830.0,12.0,9.0,18.0,26.0,35.0,37.0,44.0,8.0,12.0,1745.0,40.0,33.0,27.0,2.0,160.0,152.0,7.0,0.599289,Middel,0.113740,Middel-Hoog,0.021357,Middel,0.026782,Middel,0.001451,Middel

In [59]:
datawerk = pd.read_csv('data/werkgelegenheid_df.csv')
datawerk = datawerk.rename(columns={"Regio's": "gemeente",})
datawerk = datawerk.drop(columns=['Unnamed: 0'])
datawerk.head()

,Provincie,gemeente,Perioden,Bedrijfstak_code,Bedrijfstak,Vestigingen (aantal),Aantal_vestigingen_genormaliseerd,Vestigingen Klasse
0,Drenthe,Aa en Hunze,2015,A,"Landbouw, bosbouw en visserij",280.0,0.007716,Hoog
1,Drenthe,Aa en Hunze,2015,B,Delfstoffenwinning,0.0,0.000000,Geen
2,Drenthe,Aa en Hunze,2015,C,Industrie,80.0,0.002204,Middel-Hoog
3,Drenthe,Aa en Hunze,2015,D,Energievoorziening,0.0,0.000000,Geen
4,Drenthe,Aa en Hunze,2015,E,Waterbedrijven en afvalbeheer,5.0,0.000138,Middel

In [60]:
data = datademografie.merge(datawoz, on='gemeente')
data = data.drop_duplicates()

In [61]:
data = data.merge(datawerk, on='gemeente')
data = data.drop_duplicates()
# data.to_csv('form.csv')

In [62]:
# form = pd.read_csv('form.csv')
data = data.merge(datamisdaad, on='gemeente')
data = data.drop_duplicates()

In [ ]:
def formulierAPI(stedelijkheidinput,wozinput,werkgelegenheidinput,Bedrijfstakinput,misdaadinput):
    resultaat = data.loc[(data['klasse_stedelijkheid_normalisatie'] == stedelijkheidinput) & (data['klasse_woz'] == wozinput)& (data['Vestigingen Klasse'] == werkgelegenheidinput) & (data['Bedrijfstak'] == Bedrijfstakinput)& (data['Aantal_misdrijven_klasse'] == misdaadinput)]
    output = resultaat[["wijknaam",'gemeente','Bedrijfstak','Vestigingen (aantal)']].drop_duplicates()
    return output.to_dict(orient='records')

In [69]:

resultaat = data.loc[(data['klasse_stedelijkheid_normalisatie'] == stedelijkheidinput) & (data['klasse_woz'] == wozinput)& (data['Vestigingen Klasse'] == werkgelegenheidinput) & (data['Bedrijfstak'] == Bedrijfstakinput)& (data['Aantal_misdrijven_klasse'] == misdaadinput)]
output = resultaat[["wijknaam",'gemeente','Bedrijfstak','Vestigingen (aantal)']].drop_duplicates()

In [73]:

# resultaat.head()

In [72]:
print('wijken waar je kunt wonen:')
print('deze wijken hebben een wozwaarde',wozinput,',een', stedelijkheidinput,'stedelijkheid, een relatief', misdaadinput ,'aantal misdaden en een',werkgelegenheidinput,'aantal werkgelegenheid in de',Bedrijfstakinput)
output.sort_values(by='Vestigingen (aantal)',ascending=False).head()

wijken waar je kunt wonen:
deze wijken hebben een wozwaarde Hoog ,een Middel stedelijkheid, een relatief Hoog aantal misdaden en een Hoog aantal werkgelegenheid in de Industrie

             wijknaam   gemeente Bedrijfstak  Vestigingen (aantal)
1990141  Achtse Molen  Eindhoven   Industrie                 820.0
1999117     Meerhoven  Eindhoven   Industrie                 820.0
1990124  Achtse Molen  Eindhoven   Industrie                 775.0
1999100     Meerhoven  Eindhoven   Industrie                 775.0
1990107  Achtse Molen  Eindhoven   Industrie                 750.0

In [48]:

output.head()

           wijknaam    gemeente Bedrijfstak  Vestigingen (aantal)
194074  Dedemsvaart  Hardenberg   Industrie                 230.0
194091  Dedemsvaart  Hardenberg   Industrie                 225.0
194108  Dedemsvaart  Hardenberg   Industrie                 240.0
194125  Dedemsvaart  Hardenberg   Industrie                 255.0
236710   Hardenberg  Hardenberg   Industrie                 230.0