In [1]:
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
#input voor formulier
wozinput = 'Hoog'
stedelijkheidinput = 'Middel'
werkgelegenheidinput = 'Hoog'
Bedrijfstakinput = "Industrie"
misdaadinput = 'Hoog'

In [3]:
datawoz = pd.read_csv('data/datasetwoznormaliseerd.csv')
datawoz = datawoz.drop(columns=['geometry', 'Unnamed: 0'])

In [5]:
datamisdaad = pd.read_csv('data/misdrijven.csv')
datamisdaad = datamisdaad.rename(columns={"Regio's": "gemeente",})
datamisdaad = datamisdaad.drop(columns=[ 'Unnamed: 0'])
datamisdaad = datamisdaad.loc[(datamisdaad['Soort_misdrijf'] == 'Misdrijven, totaal') & (datamisdaad['Perioden'] == '2019*')]
datamisdaad['Aantal_misdrijven_klasse'].unique()

array(['Hoog', 'Laag', 'Midden'], dtype=object)

In [56]:
datawoz.head()

,postcode,gemiddelde_woz_waarde_woning,gemeente,gemiddelde_woz_waarde_gemeente,woz_normalisatie,klasse_woz
0,1011,386,Amsterdam,298.333333,0.318303,Heel-Hoog
1,1012,343,Amsterdam,298.333333,0.318303,Heel-Hoog
2,1013,329,Amsterdam,298.333333,0.318303,Heel-Hoog
3,1014,395,Amsterdam,298.333333,0.318303,Heel-Hoog
4,1015,400,Amsterdam,298.333333,0.318303,Heel-Hoog

In [6]:
datademografie = pd.read_csv('data/Demografie_wijken_data.csv')
datademografie = datademografie.rename(columns={"gemeentenaam": "gemeente",})
datademografie = datademografie.drop(columns=['id','wijkcode','jrstatcode','gemeentecode','ind_wbi','Unnamed: 0','geometry','percentage_westerse_migratieachtergrond','percentage_niet_westerse_migratieachtergrond','percentage_uit_marokko','percentage_uit_nederlandse_antillen_en_aruba','percentage_uit_suriname', 'percentage_uit_turkije','percentage_overige_nietwestersemigratieachtergrond'])

In [7]:
datademografie['klasse_stedelijkheid_normalisatie'].unique()

array(['Middel', 'Middel-Hoog', 'Hoog', 'Laag', 'Geen'], dtype=object)

In [9]:
datawerk = pd.read_csv('data/werkgelegenheid_df.csv')
datawerk = datawerk.rename(columns={"Regio's": "gemeente",})
datawerk = datawerk.drop(columns=['Unnamed: 0'])
datawerk['Bedrijfstak'].unique()

array(['Landbouw, bosbouw en visserij', 'Delfstoffenwinning', 'Industrie',
       'Energievoorziening', 'Waterbedrijven en afvalbeheer',
       'Bouwnijverheid', 'Handel', 'Vervoer en opslag', 'Horeca',
       'Informatie en communicatie', 'FinanciÃ«le dienstverlening',
       'Verhuur en handel van onroerend goed',
       'Specialistische zakelijke diensten',
       'Verhuur en overige zakelijke diensten',
       'Cultuur, sport en recreatie', 'Overige dienstverlening',
       'Extraterritoriale organisaties'], dtype=object)

In [60]:
data = datademografie.merge(datawoz, on='gemeente')
data = data.drop_duplicates()

In [61]:
data = data.merge(datawerk, on='gemeente')
data = data.drop_duplicates()
# data.to_csv('form.csv')

In [62]:
# form = pd.read_csv('form.csv')
data = data.merge(datamisdaad, on='gemeente')
data = data.drop_duplicates()

In [ ]:
def formulierAPI(stedelijkheidinput,wozinput,werkgelegenheidinput,Bedrijfstakinput,misdaadinput):
    resultaat = data.loc[(data['klasse_stedelijkheid_normalisatie'] == stedelijkheidinput) & (data['klasse_woz'] == wozinput)& (data['Vestigingen Klasse'] == werkgelegenheidinput) & (data['Bedrijfstak'] == Bedrijfstakinput)& (data['Aantal_misdrijven_klasse'] == misdaadinput)]
    output = resultaat[["wijknaam",'gemeente','Bedrijfstak','Vestigingen (aantal)']].drop_duplicates()
    return output.to_dict(orient='records')

In [69]:

resultaat = data.loc[(data['klasse_stedelijkheid_normalisatie'] == stedelijkheidinput) & (data['klasse_woz'] == wozinput)& (data['Vestigingen Klasse'] == werkgelegenheidinput) & (data['Bedrijfstak'] == Bedrijfstakinput)& (data['Aantal_misdrijven_klasse'] == misdaadinput)]
output = resultaat[["wijknaam",'gemeente','Bedrijfstak','Vestigingen (aantal)']].drop_duplicates()

In [73]:

# resultaat.head()

In [72]:
print('wijken waar je kunt wonen:')
print('deze wijken hebben een wozwaarde',wozinput,',een', stedelijkheidinput,'stedelijkheid, een relatief', misdaadinput ,'aantal misdaden en een',werkgelegenheidinput,'aantal werkgelegenheid in de',Bedrijfstakinput)
output.sort_values(by='Vestigingen (aantal)',ascending=False).head()

wijken waar je kunt wonen:
deze wijken hebben een wozwaarde Hoog ,een Middel stedelijkheid, een relatief Hoog aantal misdaden en een Hoog aantal werkgelegenheid in de Industrie

             wijknaam   gemeente Bedrijfstak  Vestigingen (aantal)
1990141  Achtse Molen  Eindhoven   Industrie                 820.0
1999117     Meerhoven  Eindhoven   Industrie                 820.0
1990124  Achtse Molen  Eindhoven   Industrie                 775.0
1999100     Meerhoven  Eindhoven   Industrie                 775.0
1990107  Achtse Molen  Eindhoven   Industrie                 750.0

In [48]:

output.head()

           wijknaam    gemeente Bedrijfstak  Vestigingen (aantal)
194074  Dedemsvaart  Hardenberg   Industrie                 230.0
194091  Dedemsvaart  Hardenberg   Industrie                 225.0
194108  Dedemsvaart  Hardenberg   Industrie                 240.0
194125  Dedemsvaart  Hardenberg   Industrie                 255.0
236710   Hardenberg  Hardenberg   Industrie                 230.0