In [105]:

import geopandas as gpd

In [222]:
data = gpd.read_file('data/asbestscholenkaart.csv')
data
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [206]:
data.nunique()

soort_instelling       7
naam_vestiging      6626
plaatsnaam          1901
straatnaam          6284
postcode            7856
huisnummer           431
x_y_coordinaten     7923
geometry            7923
dtype: int64

In [130]:
data = data[["soort_instelling","naam_vestiging","plaatsnaam","straatnaam","postcode","huisnummer","x_y_coordinaten"]]

In [131]:
data["geometry"] = data["x_y_coordinaten"]

In [223]:
plaats = "Groningen"

In [224]:
plaatsdata = data.loc[data['plaatsnaam'] == plaats]

In [225]:
plaatsdata

Empty GeoDataFrame
Columns: [FID, brin_vest_, soort_instelling, naam_vestiging, plaatsnaam, straatnaam, postcode, huisnummer, huisnummer_toevoeging, x_y_coordinaten, woonplaats, openbare_ruimte_naam, postcode1, huisnummer1, huisletter, huisnummer_toevoeging1, nummeraanduidingidentificatie, adresseerbaarobjectidentificatie, pand_identificatie, bouwjaar, oppervlakteverblijfsobject, woonfunctie, sportfunctie, gezondheidszorgfunctie, logiesfunctie, kantoorfunctie, onderwijsfunctie, winkelfunctie, industriefunctie, celfunctie, bijeenkomstfunctie, overigen_gebruik, opmerkingen, match, enquete, inventaris, asbest_aanwezig, asbest_verwijderd, dubbel, bouwjaar_bag, pand_bag_id, pandvlak, categorie, geom, geometry]
Index: []

In [219]:
aantalscholen = plaatsdata['soort_instelling'].count() 
aantalsoortschool = plaatsdata['soort_instelling'].nunique()
countdata = plaatsdata.groupby('soort_instelling').count()
countdata = countdata[['naam_vestiging']]
countdata = countdata.reset_index()

In [220]:
plaatsdata['soort_instelling'].unique()

array(['VO', 'BO', 'WECSOVSO', 'SBO', 'WECSO'], dtype=object)

In [212]:

countdata

  soort_instelling  naam_vestiging
0               BO               6
1               VO               2

In [221]:
print('In', plaats,'zijn',aantalscholen, 'scholen gevestigd')
print('er zijn ', aantalsoortschool,'soorten scholen in ', plaats)

for index, row in countdata.iterrows():
    print('Aantal',row['soort_instelling'],'instellingen:',row['naam_vestiging'])

In ZWOLLE zijn 62 scholen gevestigd
er zijn  5 soorten scholen in  ZWOLLE
Aantal BO instellingen: 38
Aantal SBO instellingen: 4
Aantal VO instellingen: 14
Aantal WECSO instellingen: 1
Aantal WECSOVSO instellingen: 5