In [168]:
import pandas as pd
import geopandas as gpd
import seaborn as sb
import numpy as np
import matplotlib.pyplot as plt

from sklearn import preprocessing
from prep import movecol

pd.set_option('display.max_rows', 50)

# Dataset inlezen
file = "/Users/nawiedgoelab/Kadaster/FlaskReact/raw-data/Vestegingen_Gemeente.csv"
postcode_file = "/Users/nawiedgoelab/Kadaster/FlaskReact/raw-data/gemeenten-provincie.xlsx"
data_pc = pd.read_excel(postcode_file)
data_vg = pd.read_csv(file, sep=";")

# Dataverkennen door dataframe te openen
data_vg

,Bedrijfstakken/branches SBI 2008,Perioden,Regio's,Vestigingen (aantal)
0,"A Landbouw, bosbouw en visserij",2013,Amsterdam,95
1,"A Landbouw, bosbouw en visserij",2014,Amsterdam,100
2,"A Landbouw, bosbouw en visserij",2015,Amsterdam,105
3,"A Landbouw, bosbouw en visserij",2016,Amsterdam,105
4,"A Landbouw, bosbouw en visserij",2017,Amsterdam,110
...,...,...,...,...
1933,U Extraterritoriale organisaties,2014,Zwolle,0
1934,U Extraterritoriale organisaties,2015,Zwolle,0
1935,U Extraterritoriale organisaties,2016,Zwolle,0
1936,U Extraterritoriale organisaties,2017,Zwolle,0
1937,U Extraterritoriale organisaties,2018,Zwolle,0

In [169]:
regios = data_vg["Regio's"].drop_duplicates()
regios

0                     Amsterdam
6                        Arnhem
12                        Assen
18                        Breda
24                    Eindhoven
30                     Enschede
36     's-Gravenhage (gemeente)
42         Groningen (gemeente)
48                      Haarlem
54             's-Hertogenbosch
60                   Leeuwarden
66                       Leiden
72                     Lelystad
78                   Maastricht
84              Middelburg (Z.)
90                    Rotterdam
96                      Tilburg
102          Utrecht (gemeente)
108                      Zwolle
Name: Regio's, dtype: object

In [170]:
bedrijfstakken = data_vg["Bedrijfstakken/branches SBI 2008"].drop_duplicates()
bedrijfstakken

0               A Landbouw, bosbouw en visserij
114                        B Delfstoffenwinning
228                                 C Industrie
342                        D Energievoorziening
456             E Waterbedrijven en afvalbeheer
570                            F Bouwnijverheid
684                                    G Handel
798                         H Vervoer en opslag
912                                    I Horeca
1026               J Informatie en communicatie
1140               K Financiële dienstverlening
1254     L Verhuur en handel van onroerend goed
1368       M Specialistische zakelijke diensten
1482    N Verhuur en overige zakelijke diensten
1596              R Cultuur, sport en recreatie
1710                  S Overige dienstverlening
1824           U Extraterritoriale organisaties
Name: Bedrijfstakken/branches SBI 2008, dtype: object

In [171]:
data_pc

                         Regio's  Provincie
0                     Appingedam  Groningen
1                          Bedum  Groningen
2                   Bellingwedde  Groningen
3                       Ten Boer  Groningen
4                       Delfzijl  Groningen
..                           ...        ...
454                        Venlo    Limburg
455                       Venray    Limburg
456                   Voerendaal    Limburg
457                        Weert    Limburg
458  Niet-gemeentelijk ingedeeld     Overig

[459 rows x 2 columns]

In [172]:
data_vg_incl_provincie = pd.merge(data_vg, data_pc, left_on="Regio's", right_on="Regio's")
data_vg_incl_provincie

,Bedrijfstakken/branches SBI 2008,Perioden,Regio's,Vestigingen (aantal),Provincie
0,"A Landbouw, bosbouw en visserij",2013,Amsterdam,95,Noord-Holland
1,"A Landbouw, bosbouw en visserij",2014,Amsterdam,100,Noord-Holland
2,"A Landbouw, bosbouw en visserij",2015,Amsterdam,105,Noord-Holland
3,"A Landbouw, bosbouw en visserij",2016,Amsterdam,105,Noord-Holland
4,"A Landbouw, bosbouw en visserij",2017,Amsterdam,110,Noord-Holland
...,...,...,...,...,...
1933,U Extraterritoriale organisaties,2014,Zwolle,0,Overijssel
1934,U Extraterritoriale organisaties,2015,Zwolle,0,Overijssel
1935,U Extraterritoriale organisaties,2016,Zwolle,0,Overijssel
1936,U Extraterritoriale organisaties,2017,Zwolle,0,Overijssel
1937,U Extraterritoriale organisaties,2018,Zwolle,0,Overijssel

In [173]:
data_vg_incl_provincie = movecol(data_vg_incl_provincie, cols_to_move=['Provincie'], ref_col="Regio's", place='After')

data_vg_incl_provincie

,Bedrijfstakken/branches SBI 2008,Perioden,Regio's,Provincie,Vestigingen (aantal)
0,"A Landbouw, bosbouw en visserij",2013,Amsterdam,Noord-Holland,95
1,"A Landbouw, bosbouw en visserij",2014,Amsterdam,Noord-Holland,100
2,"A Landbouw, bosbouw en visserij",2015,Amsterdam,Noord-Holland,105
3,"A Landbouw, bosbouw en visserij",2016,Amsterdam,Noord-Holland,105
4,"A Landbouw, bosbouw en visserij",2017,Amsterdam,Noord-Holland,110
...,...,...,...,...,...
1933,U Extraterritoriale organisaties,2014,Zwolle,Overijssel,0
1934,U Extraterritoriale organisaties,2015,Zwolle,Overijssel,0
1935,U Extraterritoriale organisaties,2016,Zwolle,Overijssel,0
1936,U Extraterritoriale organisaties,2017,Zwolle,Overijssel,0
1937,U Extraterritoriale organisaties,2018,Zwolle,Overijssel,0

In [174]:
provincies = sorted(data_vg_incl_provincie["Provincie"].drop_duplicates())
provincies

['Drenthe',
 'Flevoland',
 'Friesland',
 'Gelderland',
 'Groningen',
 'Limburg',
 'Noord-Brabant',
 'Noord-Holland',
 'Overijssel',
 'Utrecht',
 'Zeeland',
 'Zuid-Holland']

In [175]:
regios = sorted(data_vg_incl_provincie["Regio's"].drop_duplicates())
regios

["'s-Gravenhage (gemeente)",
 "'s-Hertogenbosch",
 'Amsterdam',
 'Arnhem',
 'Assen',
 'Breda',
 'Eindhoven',
 'Enschede',
 'Groningen (gemeente)',
 'Haarlem',
 'Leeuwarden',
 'Leiden',
 'Lelystad',
 'Maastricht',
 'Middelburg (Z.)',
 'Rotterdam',
 'Tilburg',
 'Utrecht (gemeente)',
 'Zwolle']

In [176]:
# TOTAAL AANTAL MISDRIJVEN PER JAAR PER PROVINCIE. RELATIEVE KOLOM IS NIET VAN TOEPASSING AANGEZIEN TOTALEN GEBASEERD IS OP 100%.


werkgelegenheid_groupby = data_vg_incl_provincie.groupby(['Provincie',"Regio's", 'Perioden', 'Bedrijfstakken/branches SBI 2008']).sum()

werkgelegenheid_groupby

                                                                         Vestigingen (aantal)
Provincie    Regio's   Perioden Bedrijfstakken/branches SBI 2008
Drenthe      Assen     2013     A Landbouw, bosbouw en visserij                            65
                                B Delfstoffenwinning                                        5
                                C Industrie                                               160
                                D Energievoorziening                                        0
                                E Waterbedrijven en afvalbeheer                            10
...                                                                                       ...
Zuid-Holland Rotterdam 2018     M Specialistische zakelijke diensten                    14655
                                N Verhuur en overige zakelijke diensten                  2910
                                R Cultuur, sport en recreatie                            5440
                                S Overige dienstverlening                                3330
                                U Extraterritoriale organisaties                            0

[1938 rows x 1 columns]

In [177]:
data_vg.describe()

          Perioden  Vestigingen (aantal)
count  1938.000000           1938.000000
mean   2015.500000           1256.542828
std       1.708266           2690.824443
min    2013.000000              0.000000
25%    2014.000000             66.250000
50%    2015.500000            470.000000
75%    2017.000000           1248.750000
max    2018.000000          36290.000000

In [178]:
np.set_printoptions(threshold=np.inf)

min_max_scaler = preprocessing.MinMaxScaler()

aantal_vestigingen_minmax = min_max_scaler.fit_transform(data_vg_incl_provincie[["Vestigingen (aantal)"]])
werkgelegenheid_groupby["Aantal_vestigingen_genormaliseerd"] = aantal_vestigingen_minmax

werkgelegenheid_groupby

                                                                         Vestigingen (aantal)  \
Provincie    Regio's   Perioden Bedrijfstakken/branches SBI 2008
Drenthe      Assen     2013     A Landbouw, bosbouw en visserij                            65
                                B Delfstoffenwinning                                        5
                                C Industrie                                               160
                                D Energievoorziening                                        0
                                E Waterbedrijven en afvalbeheer                            10
...                                                                                       ...
Zuid-Holland Rotterdam 2018     M Specialistische zakelijke diensten                    14655
                                N Verhuur en overige zakelijke diensten                  2910
                                R Cultuur, sport en recreatie                            5440
                                S Overige dienstverlening                                3330
                                U Extraterritoriale organisaties                            0

                                                                         Aantal_vestigingen_genormaliseerd
Provincie    Regio's   Perioden Bedrijfstakken/branches SBI 2008
Drenthe      Assen     2013     A Landbouw, bosbouw en visserij                                   0.002618
                                B Delfstoffenwinning                                              0.002756
                                C Industrie                                                       0.002893
                                D Energievoorziening                                              0.002893
                                E Waterbedrijven en afvalbeheer                                   0.003031
...                                                                                                    ...
Zuid-Holland Rotterdam 2018     M Specialistische zakelijke diensten                              0.000000
                                N Verhuur en overige zakelijke diensten                           0.000000
                                R Cultuur, sport en recreatie                                     0.000000
                                S Overige dienstverlening                                         0.000000
                                U Extraterritoriale organisaties                                  0.000000

[1938 rows x 2 columns]

In [179]:
#data_vg_2018v2.drop(columns=["Klasse vestigingsaantal"])
vestigingen = werkgelegenheid_groupby["Vestigingen (aantal)"]

# Gebruik de aantallen die bij vg_data.describe() staan
werk_25 = vestigingen.quantile(q=.25)
werk_50 = vestigingen.quantile(q=.5)
werk_75 = vestigingen.quantile(q=.75)

# Gebruik de aantallen die bij vg_data.describe() staan
m1 = np.logical_and(vestigingen < werk_25, vestigingen != 0)
m2 = np.logical_and(vestigingen >  werk_25, vestigingen < werk_50)
m3 = np.logical_and(vestigingen >  werk_50, vestigingen < werk_75)
m4 = vestigingen > werk_75

werkgelegenheid_groupby["Vestigingen Klasse"] = np.select([m1,m2,m3,m4], ['Laag','Middel','Middel-Hoog','Hoog'], default='Geen')

werkgelegenheid_groupby

                                                                         Vestigingen (aantal)  \
Provincie    Regio's   Perioden Bedrijfstakken/branches SBI 2008
Drenthe      Assen     2013     A Landbouw, bosbouw en visserij                            65
                                B Delfstoffenwinning                                        5
                                C Industrie                                               160
                                D Energievoorziening                                        0
                                E Waterbedrijven en afvalbeheer                            10
...                                                                                       ...
Zuid-Holland Rotterdam 2018     M Specialistische zakelijke diensten                    14655
                                N Verhuur en overige zakelijke diensten                  2910
                                R Cultuur, sport en recreatie                            5440
                                S Overige dienstverlening                                3330
                                U Extraterritoriale organisaties                            0

                                                                         Aantal_vestigingen_genormaliseerd  \
Provincie    Regio's   Perioden Bedrijfstakken/branches SBI 2008
Drenthe      Assen     2013     A Landbouw, bosbouw en visserij                                   0.002618
                                B Delfstoffenwinning                                              0.002756
                                C Industrie                                                       0.002893
                                D Energievoorziening                                              0.002893
                                E Waterbedrijven en afvalbeheer                                   0.003031
...                                                                                                    ...
Zuid-Holland Rotterdam 2018     M Specialistische zakelijke diensten                              0.000000
                                N Verhuur en overige zakelijke diensten                           0.000000
                                R Cultuur, sport en recreatie                                     0.000000
                                S Overige dienstverlening                                         0.000000
                                U Extraterritoriale organisaties                                  0.000000

                                                                        Vestigingen Klasse
Provincie    Regio's   Perioden Bedrijfstakken/branches SBI 2008
Drenthe      Assen     2013     A Landbouw, bosbouw en visserij                       Laag
                                B Delfstoffenwinning                                  Laag
                                C Industrie                                         Middel
                                D Energievoorziening                                  Geen
                                E Waterbedrijven en afvalbeheer                       Laag
...                                                                                    ...
Zuid-Holland Rotterdam 2018     M Specialistische zakelijke diensten                  Hoog
                                N Verhuur en overige zakelijke diensten               Hoog
                                R Cultuur, sport en recreatie                         Hoog
                                S Overige dienstverlening                             Hoog
                                U Extraterritoriale organisaties                      Geen

[1938 rows x 3 columns]